.dara-header
	position: fixed
	z-index: 10
	top: 0
	left: 0
	right: 0
	min-height: 57px
	padding: 11px 0 5px
	background: #F2F2F2
	transition: background 0.2s ease
	&.is-active
		background: #FFF
		.dara-button--header-start
			opacity: 1
			visibility: visible
	&__checkout
		display: none
		font-size: 0
		+rmin(1025)
			display: block
	&__info
		display: none
		vertical-align: top
		margin-right: 10px
		+rmin(1025)
			display: inline-block
			margin-right: 20px
	&__price
		+av-medium
		font-size: 22px
		color: #000
		letter-spacing: -0.31px
		line-height: 1
	&__note
		font-size: 13px
		color: #1567AE
		letter-spacing: -0.18px
	&__menu-ico
		display: inline-block
		margin-top: 3px
	&__logo
		display: inline-block
		max-width: 73px
		margin-top: 3.5px
		transition: all 0.2s ease
		&--move
			+rmin(768)
				max-width: 125px
				transform: translate3d(0, 82px, 0)
		img
			width: 100%
	&__sign
		display: none
		padding-top: 5px
		font-size: 16px
		color: #FE0066
		line-height: 1.375
		letter-spacing: -0.45px
		+rmin(768)
			display: block
		&:hover
			color: #FE0066


.dara-header-list
	margin-bottom: 0
	padding-top: 5px
	&--with-button
		display: flex
		justify-content: flex-end
		align-items: center
		padding-top: 0
	&__option
		margin-right: 20px
		&:last-child
			margin-right: 0
	&__item
		display: inline-block
		font-size: 16px
		color: #4a4a4a
		border-bottom: 1px solid transparent
		&:hover,
		&:visited
			text-decoration: none
			color: #4A4A4A
			border-bottom-color: currentColor
		&--active
			color: #9b9b9b
			&:hover
				border-bottom-color: transparent
		&--sign
			color: #FE0066
			&:hover,
			&:visited
				color: #FE0066


.dara-menu
	position: fixed
	z-index: 12
	top: 0
	bottom: 0
	width: 100%
	background: #313131
	overflow: auto
	transform: translate3d(-100%, 0, 0)
	transition: transform 0.3s ease-in
	&.is-active
		transform: translate3d(0,0,0)
	+rmin(500)
		width: 300px
	&__in
		padding: 20px
	&__close
		display: inline-block
		width: 20px
		margin-bottom: 40px
	&__option
		margin-bottom: 20px
	&__link
		color: #FFF
		font-size: 17px
		&:hover,
		&:visited
			text-decoration: none
			color: #FFF
