.dara-product
	padding: 39px 0 56px
	background: #F2F2F2
	line-height: 1.2
	+rmin(768)
		padding: 54px 0 66px
	&__info
		+av-medium
		font-size: 16px
		letter-spacing: -0.22px
		+rmin(768)
			font-size: 18px
		p
			margin-bottom: 25px
	&__title
		margin-bottom: 62px
		+rmin(768)
			margin-bottom: 42px
	&__desc
		margin-bottom: 39px
		text-transform: uppercase
		+av-demibold
		+rmin(768)
			margin-bottom: 25px
		p
			margin-bottom: 0
	&__img
		display: block
		margin: 0 auto 60px
		padding: 0 13px
		+rmin(768)
			padding: 0
			margin-bottom: 0
	&__button
		width: 100%
		max-width: 442px
		+rmin(768)
			max-width: initial


.dara-composition
	padding: 46px 0 61px
	background: #F5F9FC
	+rmin(768)
		padding: 13px 0 76px
	&__title
		margin-bottom: 47px
	&__info
		&--max-w
			+rmin(768)
				max-width: 337px
	&__cert
		margin-top: 10px
		text-align: center
		+rmin(768)
			display: inline-block
			margin-top: 0
			max-width: 444px
			text-align: left


.dara-cert
	display: flex
	flex-wrap: wrap
	margin: 10px -9px 0
	justify-content: center
	+rmin(768)
		justify-content: initial
	&__bl
		width: 76px
		height: 76px
		margin: 0 8px 27px
		text-align: center
		text-transform: uppercase
		+av-bold
		background: #fff
		border: 3px solid #4a4a4a
		border-radius: 50%
		+vertical
		box-sizing: border-box
		+rmin(768)
			margin-bottom: 10px
		span
			display: inline-block
			vertical-align: middle
			font-size: 14px
			letter-spacing: -0.22px