---
title: Account
header: dara-header--white-bg
fixedCheckout: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set form = [{
		row: [{
			state: 'is-active is-error',
			id: 'name',
			name: 'Full Name',
			helper: 'Please type a name'
		}]
	}, {
		row: [{
			id: 'address',
			name: 'Address'
		}, {
			id: 'apt',
			name: 'Apt/Suite'
		}]
	}, {
		row: [{
			id: 'city',
			name: 'City'
		}, {
			select: true,
			id: 'state',
			name: 'State'
		}, {
			id: 'zip',
			name: 'ZIP'
		}]
	}, {
		row: [{
			id: 'tel',
			type: 'tel',
			name: 'Phone <small>(optional)</small>'
		}]
	}] %}

	{% set fields = [{
		title: 'SHIPPING ADDRESS',
		info: '555 Wellness Way Mill Valley, CA 94941'
	}, {
		title: 'YOUR PLAN',
		info: 'Custom supplement 30 daily servings',
		plan: true
	}, {
		title: 'PAYMENT METHOD',
		info: '*1633 07/18',
		icon: 'mastercard'
	}, {
		title: 'EMAIL',
		info: 'jdoe@gmail.com'
	}, {
		title: 'PASSWORD'
	}, {
		title: 'ORDER HISTORY'
	}] %}


	<section class="dara-checkout">
		<form>
			<div class="dara-checkout__in dara-checkout__in--one-card">
				<div class="dara-checkout__bl dara-checkout__bl--ship">
					<!-- begin CARD -->
					<div class="dara-checkout-card dara-checkout-card--no-padding-b dara-checkout-card--auto-height">
						<div class="dara-checkout-card__title dara-checkout-card__title--sm-margin-b">Next shipment</div>
						<div class="dara-checkout-card__date text-center">May 5th</div>
						{% for field in fields %}
						<a href="#" class="dara-field js-show-account-pane">
							<div class="dara-field__title">{{ field.title }} {% if field.plan %}<button class="dara-field__cancel dara-button dara-button--cancel">Cancel</button>{% endif %}</div>
							{% if field.info %}
								{% if field.plan %}
								<div class="dara-field__info dara-field__info--flex">
									<div class="dara-field__el">{{ field.info }}</div>
									<div class="dara-field__el">$29.90</div>
								</div>
								{% else %}
								<div class="dara-field__info">
									<div class="dara-field__el">
										{% if field.icon %} <span class="dara-field__icon">{{ mixins.icon(field.icon) }}</span> {% endif %}
										{{ field.info}}
									</div>
								</div>
								{% endif %}
							{% endif %}
							<span class="dara-field__arrow">{{ mixins.icon('arrow-right') }}</span>
						</a>
						{% endfor %}
					</div>
					<!-- end CARD -->
				</div>

			</div>
		</form>
	</section>
	<!-- begin Modal -->
	<div class="dara-account-modal js-modal">
		<div class="dara-checkout-card dara-checkout-card--modal dara-checkout-card--full-height">
			<a href="#" class="dara-checkout-card__close js-close-modal">{{ mixins.icon('close') }}</a>
			<div class="dara-checkout-card__title dara-checkout-card__title--with-pad text-center">			Change shipping address
			</div>
			<div class="dara-form">
				{% for row in form %}
				<div class="dara-form__row">
					{% for item in row.row %}
					<div class="dara-form__field js-input-box{% if item.state %} {{ item.state }}{% endif %}">
						{% if item.select %}
						<select class="dara-form__select js-input-data" name="{{ item.id }}" id="{{ item.id }}">
							<option value="" selected disabled hidden></option>
							<option value="AL" > AL </option>
							<option value="AK" > AK </option>
							<option value="AZ" > AZ </option>
							<option value="AR" > AR </option>
							<option value="CA" > CA </option>
							<option value="CO" > CO </option>
							<option value="CT" > CT </option>
							<option value="DE" > DE </option>
							<option value="DC" > DC </option>
							<option value="FL" > FL </option>
							<option value="GA" > GA </option>
							<option value="HI" > HI </option>
							<option value="ID" > ID </option>
							<option value="IL" > IL </option>
							<option value="IN" > IN </option>
							<option value="IA" > IA </option>
							<option value="KS" > KS </option>
							<option value="KY" > KY </option>
							<option value="LA" > LA </option>
							<option value="ME" > ME </option>
							<option value="MD" > MD </option>
							<option value="MA" > MA </option>
							<option value="MI" > MI </option>
							<option value="MN" > MN </option>
							<option value="MS" > MS </option>
							<option value="MO" > MO </option>
							<option value="MT" > MT </option>
							<option value="NE" > NE </option>
							<option value="NV" > NV </option>
							<option value="NH" > NH </option>
							<option value="NJ" > NJ </option>
							<option value="NM" > NM </option>
							<option value="NY" > NY </option>
							<option value="NC" > NC </option>
							<option value="ND" > ND </option>
							<option value="OH" > OH </option>
							<option value="OK" > OK </option>
							<option value="OR" > OR </option>
							<option value="PA" > PA </option>
							<option value="PR" > PR </option>
							<option value="RI" > RI </option>
							<option value="SC" > SC </option>
							<option value="SD" > SD</option>
							<option value="TN" > TN</option>
							<option value="TX" > TX</option>
							<option value="UT" > UT</option>
							<option value="VT" > VT </option>
							<option value="VA" > VA</option>
							<option value="WA" > WA</option>
							<option value="WV" > WV </option>
							<option value="WI" > WI </option>
							<option value="WY" > WY </option>
							<option value="GU" > GU </option>
							<option value="AS" > AS </option>
							<option value="MP" > MP </option>
							<option value="VI" > VI </option>
							<option value="AA" > AA </option>
							<option value="AE" > AE </option>
							<option value="AP" > AP </option>
						</select>
						{% else %}
						<input id="{{ item.id }}" type="{{ item.type | default('text') }}" class="dara-form__input js-input-data" {% if item.value %}value="{{ item.value }}"{% endif %}>
						{% endif %}
						<label for="{{ item.id }}" class="dara-form__label">{{ item.name | safe }}</label>
						<div class="dara-form__helper">{{ item.helper | default('This is not valid') }}</div>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
			<a href="#" class="dara-button dara-button--update mt-2">Update Address</a>
		</div>
	</div>
	<!-- end Modal -->
{% endblock %}

