---
title: Blend
outMod: out--md-padding
header: header--white-bg
headerHelpIcon: true
fixedCheckoutMod: fixed-checkout--desktop-visible
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
<section class="blend">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="blend__center">
					<div class="special-title special-title--more-spacing"><span>Jane, your personal blend is ready for review!</span></div>
					<div class="blend__bl mb-0">
						<div class="tile mb-0">
							<div class="tile__head">
								<h5 class="title-h5 text-uppercase tile__title">Each serving</h5>
								<a href="#" class="link link--arrow tile__link"><span>Nutrition facts</span>{{ mixins.icon('arrow-right') }}</a>
							</div>

							{% set nutritionList = [{
								title: 'protein',
								quantity: '24<span class="nutrition__unit">g</span>',
								percentage: '50%'
							}, {
								title: 'carb',
								quantity: '11<span class="nutrition__unit">g</span>',
								percentage: '50%'
							}, {
								title: 'fat',
								quantity: '11<span class="nutrition__unit">g</span>',
								percentage: '8%'
							}, {
								title: 'sugars',
								quantity: '0<span class="nutrition__unit">g</span>',
								percentage: ''
							}, {
								title: 'fiber',
								quantity: '9<span class="nutrition__unit">g</span>',
								percentage: '7%'
							}] %}

							<div class="tile__in">
								<div class="row">
									<div class="col nutrition">
										<div class="row">
											<div class="col d-flex justify-content-center flex-wrap">
												<div class="nutrition__quantity nutrition__quantity--lg-font">
													55<span class="nutrition__unit">g</span>
												</div>
												<div class="nutrition__quantity nutrition__quantity--lg-font">
													210<span class="nutrition__unit">cals</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<div id="range-slider" class="range-slider"></div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col">
												<div class="nutrition__bl">
													{% for item in nutritionList %}
													<div class="nutrition__col">
														<div class="nutrition__el">
															<div class="nutrition__quantity">
																<div>{{ item.quantity | safe }}</div>
															</div>
															<div class="nutrition__title">{{ item.title }}</div>
														</div>
													</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="blend__bl mb-0">
						<div class="filter filter--in-content js-filter">
							<div class="filter__container">
								<a href="#" class="filter-preview js-filter-add-ingredients">
									<span>INGREDIENTS</span>
									<i class="filter-preview__icon"></i>
								</a>
								<div class="filter__in js-filter">
									<form class="filter__form">
										<div class="filter__search-box js-search-box">
											<i class="filter__search-ico js-search-loop"></i>
											<input type="text" class="filter__search js-search">
											<ul class="filter__search-list js-search-autocomplete">
												<li><a href="#" class="filter__search-link">Maca root</a></li>
												<li><a href="#" class="filter__search-link">Magnesium</a></li>
												<li><a href="#" class="filter__search-link">Manganese</a></li>
											</ul>
											<button type="button" class="filter__search-close js-search-close">{{ mixins.icon('close') }}</button>
										</div>
									</form>
									<div class="filter-dropdown js-filter-dropdown">
										<a href="#" class="filter-dropdown__link js-filter-dropdown-link">Filter <i class="filter-dropdown__arrow-down"></i></a>
										<ul class="filter-dropdown__list js-filter-dropdown-list">
											<li class="filter-dropdown__option">
												<span>Filter by:</span>
												<a href="#" class="filter-dropdown__clear js-filter-dropdown-hide">Clear</a>
											</li>
											{% set radio = ['My Formulation', 'Vitamins', 'Minerals', 'Botanicals'] %}
											{% for item in radio %}
											<li class="filter-dropdown__option">
												<span>{{ item }}</span>
												<div class="filter-radio">
													<input class="filter-radio__input js-filter-radio" type="radio" name="category" value="{{ item | lower | replace(' ', '-') }}"{% if loop.first %} checked{% endif %}>
													<span class="filter-radio__dot"></span>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="blend__bl">
						{% set productList = [{
							title: 'Vitamins',
							products: [{
								name: 'Baoab Fruit',
								img: 'baobab',
								text: 'Baobab powder is especially rich in fibre content, and acts as a prebiotic, which helps to maintain healthy microflora in the intestines. This powder also contains antioxidants, protein, and vitamin A, C and B6.',
								dosage: '1,000 mg'
							}, {
								name: 'Wild Blueberry',
								img: 'blueberry',
								text: '100 grams of wild bilberries on average contain about 40 mg of vitamin C, as well as B vitamins and other beneficial substances. Wild blueberries are also very good for our eyes, specifically due to their antioxidant content, and bilberries also improve our digestion.',
								dosage: '0,2 g'
							}, {
								name: 'Vitamin C',
								img: 'vitamin-c',
								text: 'Acerola cherry is one of the most nutritionally dense superfruits with one of the highest levels of vitamin C and antioxidants of any food source.',
								dosage: '200 mg',
								status: false
							}]
						},{
							title: 'Superfoods',
							products: [{
								name: 'Açai Berry',
								img: 'acai',
								text: 'Pure organic Açaí berry powder, loaded with antioxidants, essential amino acids, and full of monounsaturated and polyunsaturated fatty acids.',
								dosage: '180 mg'
							}, {
								name: 'Ginger',
								img: 'ginger',
								text: 'Pure organic ginger root powder, used for thousands of years as a powerful anti-inflamatory.',
								dosage: '400 mg'
							}]
						}] %}
						{% for category in productList %}
						<section class="category">
							<div class="category__in m-0">
								<h5 class="title-h5 category__title">{{ category.title }}</h5>
								<div class="category__cards">
									{% for item in category.products %}
										{% if item.status == false %}
											<div class="category-card">
												<a href="http://www.yahoo.com" class="category-card__desc">
													<div class="category-card__bl">
														<img class="category-card__img" src="img/{{ item.img }}.png" alt="{{ item.img }}">
													</div>
													<div class="category-card__bl category-card__bl--info">
														<div class="category-card__info">
															<div class="category-card__title">{{ item.name }}</div>
															<div class="category-card__text">{{ item.text }}</div>
														</div>
													</div>
												</a>
												<div class="category-card__bl category-card__bl--dosage-add">
													<div class="category-proportion">
														<div class="category-proportion__num" style="display: none">
															<span>{{ item.dosage }}</span>
															{{ mixins.icon('arrow-right') }}
														</div>
														<a href="http://www.google.com" class="category-proportion__link"><i class="category-proportion__add js-ingredient-add-button is-visible"></i></a>
													</div>
												</div>
											</div>
										{% else %}
											<a href="#" class="category-card">
												<div class="category-card__bl">
													<img class="category-card__img" src="img/{{ item.img }}.png" alt="{{ item.img }}">
												</div>
												<div class="category-card__bl category-card__bl--info">
													<div class="category-card__info">
														<div class="category-card__title">{{ item.name }}</div>
														<div class="category-card__text">{{ item.text }}</div>
													</div>
												</div>
												<div class="category-card__bl category-card__bl--dosage">
													<div class="category-proportion">
														<div class="category-proportion__num">
															<span>{{ item.dosage }}</span>
															{{ mixins.icon('arrow-right') }}
														</div>
													</div>
												</div>
											</a>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</section>
						{% endfor %}
					</div>
					<div class="blend__bl">
						<div class="product-collapse">
							<div class="product-collapse__title js-product-collapse-bar">Suggested use <i class="product-collapse__icon"></i></div>
							<div class="product-collapse__content js-product-collapse-content">
								<p>Blend or shake 1 scoop of your personalized blend with 8 to 12oz of water, milk, your smoothie or shake.</p>
								<p>Great with almond, coconut or oat milk.</p>
								<div class="row align-items-center">
									<div class="col-md-6 order-md-2">
										<img class="product-collapse__img img-fluid" src="img/step_3.svg" alt="">
									</div>
									<div class="col-md-6">
										<ul class="product-collapse__list">
											<li class="product-collapse__option">
												<i class="product-collapse__list-icon product-collapse__list-icon--frost"></i><span>Keep refrigerated after mixing</span>
											</li>
											<li class="product-collapse__option">
												<i class="product-collapse__list-icon product-collapse__list-icon--calendar"></i><span>Consume within 2 days</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="product-collapse">
							<div class="product-collapse__title js-product-collapse-bar">Advanced customisation <i class="product-collapse__icon"></i></div>
							<div class="product-collapse__content js-product-collapse-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis autem magnam illum, blanditiis est praesentium ut officiis a ex expedita. Voluptatum voluptatem rerum reiciendis beatae enim, iusto fugiat dolorem perferendis.</p>
							</div>
						</div>
					</div>
					<div class="blend__bl">
						<a href="#" class="button button--full-w"><span>Update options</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
