---
title: Checkout
header: header--white-bg
outMod: out--flex
fixedCheckout: false
externalFooter: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set form = [{
		row: [{
			state: 'is-error is-active',
			id: 'email',
			type: 'email',
			name: 'Email',
			value: 'jdoe@gmail.coom',
			helper: 'This is not a valid email address'
		}]
	}, {
		row: [{
			state: 'is-active',
			id: 'name',
			name: 'Full Name',
			value: 'Jane Doe'
		}]
	}, {
		row: [{
			id: 'address',
			name: 'Address'
		}, {
			id: 'apt',
			name: 'Apt/Suite'
		}]
	}, {
		row: [{
			id: 'city',
			name: 'City'
		}, {
			select: true,
			id: 'state',
			name: 'State'
		}, {
			id: 'zip',
			name: 'ZIP'
		}]
	}, {
		row: [{
			id: 'tel',
			type: 'tel',
			name: 'Phone <small>(optional)</small>'
		}]
	}, {
		row: [{
			type: 'text',
			name: 'Card Details'
		}]
	}] %}

	{% set total = [{
		title: 'SUBTOTAL',
		price: '$29.90'
	}, {
		title: 'Shipping',
		price: 'Free'
	}, {
		title: 'Tax',
		price: '$0.00'
	}, {
		elMod: 'total__el--final',
		title: "Today's total",
		price: '$29.90'
	}] %}

	<main class="content">
		<section class="checkout">
			<form>
				<div class="checkout__in">
					<div class="checkout__bl checkout__bl--account">
						<!-- begin ACCOUNT CARD -->
						<div class="checkout-card">
							<div class="checkout-card__title">YOUR ACCOUNT</div>
							<div class="form">
								{% for row in form %}
								<div class="form__row">
									{% for item in row.row %}
									<div class="form__field js-input-box{% if item.state %} {{ item.state }}{% endif %}">
										{% if item.select %}
										<select class="form__select js-input-data" name="{{ item.id }}" id="{{ item.id }}">
											<option value="" selected disabled hidden></option>
											<option value="AL" > AL </option>
											<option value="AK" > AK </option>
											<option value="AZ" > AZ </option>
											<option value="AR" > AR </option>
											<option value="CA" > CA </option>
											<option value="CO" > CO </option>
											<option value="CT" > CT </option>
											<option value="DE" > DE </option>
											<option value="DC" > DC </option>
											<option value="FL" > FL </option>
											<option value="GA" > GA </option>
											<option value="HI" > HI </option>
											<option value="ID" > ID </option>
											<option value="IL" > IL </option>
											<option value="IN" > IN </option>
											<option value="IA" > IA </option>
											<option value="KS" > KS </option>
											<option value="KY" > KY </option>
											<option value="LA" > LA </option>
											<option value="ME" > ME </option>
											<option value="MD" > MD </option>
											<option value="MA" > MA </option>
											<option value="MI" > MI </option>
											<option value="MN" > MN </option>
											<option value="MS" > MS </option>
											<option value="MO" > MO </option>
											<option value="MT" > MT </option>
											<option value="NE" > NE </option>
											<option value="NV" > NV </option>
											<option value="NH" > NH </option>
											<option value="NJ" > NJ </option>
											<option value="NM" > NM </option>
											<option value="NY" > NY </option>
											<option value="NC" > NC </option>
											<option value="ND" > ND </option>
											<option value="OH" > OH </option>
											<option value="OK" > OK </option>
											<option value="OR" > OR </option>
											<option value="PA" > PA </option>
											<option value="PR" > PR </option>
											<option value="RI" > RI </option>
											<option value="SC" > SC </option>
											<option value="SD" > SD</option>
											<option value="TN" > TN</option>
											<option value="TX" > TX</option>
											<option value="UT" > UT</option>
											<option value="VT" > VT </option>
											<option value="VA" > VA</option>
											<option value="WA" > WA</option>
											<option value="WV" > WV </option>
											<option value="WI" > WI </option>
											<option value="WY" > WY </option>
											<option value="GU" > GU </option>
											<option value="AS" > AS </option>
											<option value="MP" > MP </option>
											<option value="VI" > VI </option>
											<option value="AA" > AA </option>
											<option value="AE" > AE </option>
											<option value="AP" > AP </option>
										</select>
										{% else %}
										<input id="{{ item.id }}" type="{{ item.type | default('text') }}" class="form__input js-input-data" {% if item.value %}value="{{ item.value }}"{% endif %}>
										{% endif %}
										<label for="{{ item.id }}" class="form__label">{{ item.name | safe }}</label>
										<div class="form__helper">{{ item.helper | default('This is not valid') }}</div>
									</div>
									{% endfor %}
								</div>
								{% endfor %}
							</div>
							<div class="checkout-card__note">
								{{ mixins.icon('lock') }}
								<span>All transactions secured and encrypted</span>
							</div>
						</div>
						<!-- end ACCOUNT CARD -->
					</div>
					<div class="checkout__bl checkout__bl--ship">
						<!-- begin SHIP CARD -->
						<div class="checkout-card">
							<div class="checkout-card__title">SHIPS NEXT BUSINESS DAY</div>
							<div class="checkout-product">
								<div class="checkout-product__el checkout-product__el--img">
									<img class="checkout-product__img" src="img/foodcanwhite.png" alt="img">
								</div>
								<div class="checkout-product__el">
									<div class="checkout-product__desc">
										<p class="checkout-product__title">Custom supplement</p>
										<p>30 daily servings</p>
										<p>free stainless steel canister</p>
									</div>
									<div class="checkout-product__price">$29.90</div>
								</div>
							</div>
							<hr>
							<div class="total">
								<div class="total__in">
									<div class="container-fluid">
										{% for item in total %}
											<div class="row justify-content-between">
												<div class="col">
													<div class="total__el{% if item.elMod %} {{ item.elMod }}{% endif %}"><div class="total__title">{{ item.title }}</div></div>
												</div>
												<div class="col text-right">
													<div class="total__el{% if item.elMod %} {{ item.elMod }}{% endif %}">
														<div class="total__price">{{ item.price }}</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="total__button-container is-error">
									<div class="total__helper">Your card was declined. Your request was in live mode, but used a known test card.</div>
									<div class="total__button-row">
										<div class="total__button-el text-right">
											<button class="total__button total__button--checkout button button--checkout" type="submit">
												<span class="d-none d-md-inline">PLACE ORDER</span>
												<span class="d-md-none">CHECKOUT</span>
											</button>
										</div>
										<div class="total__button-el text-left">
											<button class="total__button total__button--buy button" type="button"><span>Buy with</span><i class="icon icon-apple"></i></button>
										</div>
									</div>
									<p class="total__note">By making a purchase, you accept the Terms of Service. Your subscription will automatically renew and your credit card will be charged the subscription fee. </p>
								</div>
								<div class="checkout-card__note checkout-card__note--margin-b">
									{{ mixins.icon('truck') }}
									<span>Ships next business day</span>
								</div>
								<div class="checkout-card__note checkout-card__note--last">
									{{ mixins.icon('reminder') }}
									<span>You’ll receive a reminder email before each shipment so you have enough time to change your formulation or cancel</span>
								</div>
							</div>
						</div>
						<!-- end SHIP CARD -->
					</div>
				</div>
			</form>
		</section>
	</main>
{% endblock %}