---
title: Checkout
header: initialWhite
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set form = [{
		row: [{
			state: 'is-error is-active',
			id: 'email',
			type: 'email',
			name: 'Email',
			value: 'jdoe@gmail.coom',
			helper: 'This is not a valid email address'
		}]
	}, {
		row: [{
			state: 'is-active',
			id: 'name',
			name: 'Full Name',
			value: 'Jane Doe'
		}]
	}, {
		row: [{
			id: 'address',
			name: 'Address'
		}, {
			id: 'apt',
			name: 'Apt/Suite'
		}]
	}, {
		row: [{
			id: 'city',
			name: 'City'
		}, {
			id: 'state',
			name: 'State'
		}, {
			id: 'zip',
			name: 'ZIP'
		}]
	}, {
		row: [{
			id: 'tel',
			type: 'tel',
			name: 'Phone <small>(optional)</small>'
		}]
	}, {
		row: [{
			type: 'cvv',
			name: 'Card Details'
		}]
	}] %}

	{% set total = [{
		title: 'SUBTOTAL',
		price: '$29.90'
	}, {
		title: 'Shipping',
		price: 'Free'
	}, {
		title: 'Tax',
		price: '$0.00'
	}, {
		elMod: 'dara-total__el--final',
		title: "Today's total",
		price: '$29.90'
	}] %}

	<section class="dara-checkout">
		<form>
			<div class="dara-checkout__in">
				<div class="dara-checkout__bl dara-checkout__bl--account">
					<!-- begin ACCOUNT CARD -->
					<div class="dara-checkout-card">
						<div class="dara-checkout-card__title">YOUR ACCOUNT</div>
						<div class="dara-form">
							{% for row in form %}
							<div class="dara-form__row">
								{% for item in row.row %}
								<div class="dara-form__field js-input-box{% if item.state %} {{ item.state }}{% endif %}">
									<input id="{{ item.id }}" type="{{ item.type | default('text') }}" class="dara-form__input js-input" {% if item.value %}value="{{ item.value }}"{% endif %}>
									<label for="{{ item.id }}" class="dara-form__label">{{ item.name | safe }}</label>
									<div class="dara-form__helper">{{ item.helper | default('This is not valid') }}</div>
								</div>
								{% endfor %}
							</div>
							{% endfor %}
						</div>
						<div class="dara-checkout-card__note">
							{{ mixins.icon('lock') }}
							<span class="d-none d-md-inline">All transactions secured and encrypted</span>
							<span class="d-md-none">Payment information safely stored with Stripe</span>
						</div>
					</div>
					<!-- end ACCOUNT CARD -->
				</div>
				<div class="dara-checkout__bl dara-checkout__bl--ship">
					<!-- begin SHIP CARD -->
					<div class="dara-checkout-card">
						<div class="dara-checkout-card__title">SHIPS NEXT BUSINESS DAY</div>
						<div class="dara-checkout-product">
							<div class="dara-checkout-product__el dara-checkout-product__el--img">
								<img class="dara-checkout-product__img" src="img/foodcanwhite.png" alt="img">
							</div>
							<div class="dara-checkout-product__el">
								<div class="dara-checkout-product__desc">
									<p class="dara-checkout-product__title">Custom supplement</p>
									<p>30 daily servings</p>
									<p>free stainless steel canister</p>
								</div>
								<div class="dara-checkout-product__price">$29.90</div>
							</div>
						</div>
						<hr>
						<div class="dara-total">
							<div class="dara-total__in">
								<div class="container-fluid">
									{% for item in total %}
										<div class="row justify-content-between">
											<div class="col">
												<div class="dara-total__el{% if item.elMod %} {{ item.elMod }}{% endif %}"><div class="dara-total__title">{{ item.title }}</div></div>
											</div>
											<div class="col text-right">
												<div class="dara-total__el{% if item.elMod %} {{ item.elMod }}{% endif %}">
													<div class="dara-total__price">{{ item.price }}</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="dara-total__button-wrap">
								<div class="dara-total__button-el text-right">
									<a href="#" class="dara-total__button dara-total__button--checkout dara-button dara-button--checkout">
										<span class="d-none d-md-inline">PLACE ORDER</span>
										<span class="d-md-none">CHECKOUT</span>
									</a>
								</div>
								<div class="dara-total__button-el text-left">
									<a href="#" class="dara-total__button dara-total__button--buy dara-button"><span>Buy with</span><i class="dara-icon dara-icon-apple"></i></a>
								</div>
							</div>
						</div>
						<div class="dara-checkout-card__note dara-checkout-card__note--margin-b">
							{{ mixins.icon('truck') }}
							<span>Ships next business day</span>
						</div>
						<div class="dara-checkout-card__note dara-checkout-card__note--last">
							{{ mixins.icon('paper-plane') }}
							<span>You’ll receive a reminder email before each shipment so you have enough time to change your formulation or cancel</span>
						</div>
					</div>
					<!-- end SHIP CARD -->
				</div>
			</div>
		</form>
	</section>
{% endblock %}
