---
title: Home
mobCheckout: false
daraOutMod: dara-out--no-padding
header: dara-header--no-bg
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- begin dara-hero -->
	<section class="dara-hero">
		<div class="container-fluid">
			<div class="row dara-hero__wrap">
				<div class="col text-center">
					<div class="dara-hero__bl">
						<div class="dara-hero__head">
							<p class="dara-hero__title">Build Your Dream Supplement</p>
							<p class="dara-hero__subtitle">Full customization.<br/> Premium ingredients.<br/> Amazing prices.</p>
						</div>
						<a href="#" class="dara-button dara-button--start js-dara-button-start">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end dara-hero -->
	<!-- begin dara-subscription -->
	<section class="dara-subscription">
		<div class="dara-subscription__in">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="dara-subscription__head">
							<p class="dara-subscription__title dara-title-h1">How it works</p>
							<p>Receive a monthly supply of your custom blend of premium ingredients in powder form</p>
						</div>
					</div>
				</div>
				<div class="row">
					{% set steps = [{
						title: 'CHOOSE',
						text: 'Select ingredients and dosages from a highly curated library'
					}, {
						title: 'RECEIVE',
						text: 'Made to order and shipped free next business day'
					}, {
						title: 'ENJOY',
						text: 'Drink with water, juice or a smoothie. Store in a beautiful stainless steel canister'
					}, {
						title: 'REFINE',
						text: 'Change your formulation or cancel anytime'
					}] %}

					{% for step in steps %}
					<div class="col-sm-12 col-md-6 col-lg-3">
						<div class="dara-step">
							<img class="dara-step__img" src="img/step_{{loop.index}}.svg" alt="step_{{loop.index}}">
							<div class="dara-step__info">
								<div class="dara-step__title">{{ step.title }}</div>
								<p>{{ step.text }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col">
						<div class="dara-features">
							<div class="dara-features__in">
								<div class="row">
									{% set features = [{
										icon: 'quality',
										text: 'Premium Quality'
									}, {
										icon: 'transparency',
										text: 'Full Transparency'
									}, {
										icon: 'made-in-california',
										text: 'Made in the California'
									}, {
										icon: 'sustainability',
										text: 'Sustainable Packaging'
									}, {
										symbol: 'flask',
										text: 'No Additives'
									}, {
										icon: 'gmo',
										text: 'Non GMO'
									}, {
										icon: 'vegan',
										text: 'Vegan'
									}, {
										icon: 'gluten-free',
										text: 'Gluten & Allergen Free'
									}] %}

									{% for feature in features %}
									<div class="col-6 col-sm-6 col-md-4 col-lg-3">
										<div class="dara-feature">
											<div class="dara-feature__pic">
												{% if feature.symbol %}
												<i class="dara-feature__icon dara-feature__icon--{{ feature.symbol }}"></i>
												{% else %}
												<span class="dara-feature__icon dara-feature__icon--{{ feature.icon }}">{{ mixins.icon(feature.icon) }}</span>
												{% endif %}
											</div>
											<p class="dara-feature__text">{{ feature.text }}</p>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end dara-subscription -->
	{% include 'partials/_faq.html' %}

{% endblock %}
