---
title: New password
outMod: out--flex
fixedCheckout: false
---
{% extends "layouts/_layout.html" %}

{% block header %}
  <header class="header header--white-bg header--simple js-header">
    <div class="header__in">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="text-center">
              <a href="/" class="header__logo header__logo--only js-header-logo">
                {% include 'partials/_svg_logo.svg' %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <main class="content">
    <div class="auth">
      <div class="auth__inner">
        <h5 class="auth__title">RESET YOUR PASSWORD</h5>
        <form class="form">
          <div class="form__row ml-0 mr-0">
            <p>Reset your password for the account associated with joe.mary@getblend.com</p>
          </div>
          <div class="form__row">
            <div class="form__field js-input-box is-error is-active">
              <input id="pass" type="password" class="form__input js-input-data">
              <label for="pass" class="form__label form__label--bold">New password</label>
              <div class="form__helper">Please type new password</div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field js-input-box">
              <input type="password" class="form__input js-input-data">
              <label for="name" class="form__label form__label--bold">CONFIRM YOUR PASSWORD</label>
            </div>
          </div>
          <div class="form__row form__row--md-margin-b ml-0 mr-0">
            <button class="form__button" type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
    <div class="auth" hidden>
      <div class="auth__inner">
        <h5 class="auth__title">PASSWORD CHANGED</h5>
        <form class="form">
          <div class="form__row ml-0 mr-0">
            <p class="mb-1">You’ve successfully changed your password</p>
          </div>
          <div class="form__row form__row--md-margin-b m-0">
            <button class="form__button" type="submit">CONTINUE TO ACCOUNT</button>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block footer %}
<footer class="footer footer--no-bg">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="footer__terms text-center">© Blend Contact	Privacy & Terms </div>
    </div>
  </div>
</div>
</footer>
{% endblock %}