---
title: Nutrition
outMod: out--special-padding
header: header--white-bg
headerBackArrow: true
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
<section class="component">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="component__center">
					<div class="tile">
						<div class="tile__head mb-0">
							<h5 class="title-h5 text-uppercase tile__title">Nutrition facts</h5>
							<a href="#" class="link link--arrow tile__link"><span>Amino Acids Profile</span>{{ mixins.icon('arrow-right') }}</a>
						</div>
						<div class="tile__in tile__in--sm-w">
							{% set table = [{
								row: [{
									title: '<b>Calories</b>',
									amount: '210'
								}, {
									title: '<b>Total fat</b>',
									amount: '2.5g',
									percent: '4%'
								}, {
									tab: true,
									title: 'Saturated fat',
									amount: '9g',
									percent: '0%'
								}, {
									tab: true,
									title: 'Trans fat',
									amount: '0g',
									percent: '0%'
								}, {
									title: '<b>Cholesterol</b>',
									percent: '0%'
								}, {
									title: '<b>Sodium</b>',
									amount: '0mg',
									percent: '0%'
								}, {
									title: '<b>Total Carbohydrate</b>',
									amount: '11g',
									percent: '10%'
								}, {
									tab: true,
									title: 'Dietary Fiber',
									amount: '14g',
									percent: '56%'
								}, {
									tab: true,
									title: 'Sugars',
									amount: '0g',
									percent: '0%'
								}, {
									dbltab: true,
									title: 'Added Sugars',
									amount: '0g'
								}, {
									title: '<b>Protein</b>',
									amount: '24g',
									percent: '48%'
								}]
							}, {
								row: [{
									title: '<b>Vitamin A</b>',
									amount: '24g',
									percent: '100%'
								}, {
									title: '<b>Vitamin C</b>',
									amount: '90mg',
									percent: '100%'
								}, {
									title: '<b>Vitamin E</b>',
									amount: '4mg',
									percent: '100%'
								}, {
									title: '<b>Vitamin K2 </b><small class="table__small">(as Menaquinone-7)</small>',
									amount: '60mcg',
									percent: '100%'
								},{
									title: '<b>Thiamine </b><small class="table__small">(as Thiamin HCL)</small>',
									amount: '24g',
									percent: '100%'
								},{
									title: '<b>Riboflavin </b><small class="table__small">(as Pyridoxal-5’-Phosphate)</small>',
									amount: '90mg',
									percent: '100%'
								}, {
									title: '<b>Vitamin E</b>',
									amount: '4mg',
									percent: '100%'
								},{
									title: '<b>Folate </b><p class="table__small">(as 6S-5-Methyltetrahydrofolate acid, glucosamine salt)</p>',
									amount: '90mg',
									percent: '100%'
								},{
									title: '<b>Thiamine </b><small class="table__small">(as Thiamin HCL)</small>',
									amount: '24g',
									percent: '100%'
								},{
									title: '<b>Riboflavin </b><small class="table__small">(as Riboflavin-5’-Phosphate sodium)</small>',
									amount: '19mg',
									percent: '100%'
								},{
									title: '<b>Vitamin E</b>',
									amount: '4mg',
									percent: '100%'
								}]
							}, {
								row: [{
									title: '<b>Yellow Pea Protein °</b>',
									amount: '18g',
									percent: '**',
									percentTextCenter: true
								}, {
									title: '<b>Brown Rice Protein °</b>',
									amount: '12g',
									percent: '**',
									percentTextCenter: true
								}, {
									title: '<b>Whole Oats Fiber °</b>',
									amount: '3g',
									percent: '**',
									percentTextCenter: true
								}, {
									title: '<b>Psyllium Husk Powder °</b>',
									amount: '5g',
									percent: '**',
									percentTextCenter: true
								}, {
									title: '<b>Coconut MCT Oil Powder °</b>',
									amount: '12g',
									percent: '**',
									percentTextCenter: true
								}, {
									title: '<b>Ashwagandha Root Powder °</b>',
									amount: '1,200mg',
									percent: '**',
									percentTextCenter: true
								}, {
									rowMod: 'table__row--border',
									title: '<b>Acerola Cherry Powder °</b>',
									amount: '90mg',
									percent: '**',
									percentTextCenter: true
								}]
							}] %}


							<!-- begin nutrition table -->
							<div class="table">
								<div class="table__head">
									<div class="table__title">Nutrition Facts</div>
									<div class="table__subtitle">
										<p>Servings Per Container 30</p>
										<p>Serving Size 1 Level Scoop (55g)</p>
									</div>
								</div>
								<div class="table__body">
									<!-- begin table section -->
									<div class="table__section table__section--heading">
										<div class="table__row table__row--heading text-center">
											<div class="table__col table__col--main"></div>
											<div class="table__col table__col--heading table__col--w84">Amount Per Serving</div>
											<div class="table__col table__col--heading table__col--w59">% Daily Value</div>
										</div>
									</div>
									<!-- end table section -->
									{% for section in table %}
									<!-- begin table section -->
									<div class="table__section">
										{% for row in section.row %}
										<div class="table__row{% if row.rowMod %} {{ row.rowMod }}{% endif %}">
											<div class="table__col table__col--main">
												{% if row.tab %}
													<span class="table__tab">{{ row.title | safe }}</span>
												{% elif row.dbltab %}
													<span class="table__tab table__tab--dbl">{{ row.title | safe }}</span>
												{% else %}
													{{ row.title | safe }}
												{% endif %}
											</div>
											<div class="table__col table__col--w53">{{ row.amount }}</div>
											<div class="table__col table__col--w53 {% if row.percentTextCenter %}text-center{% else %}text-right{% endif %}"><b>{{ row.percent }}</b></div>
										</div>
										{% endfor %}
									</div>
									<!-- end table section -->
									{% endfor %}
									<div class="table__footer">
										<p>° Organic</p>
										<p>* Percent Daily Values based on a 2,000 calorie diet.</p>
										<p>** Percentage Daily Value not established.</p>
									</div>
								</div>
							</div>
							<!-- end nutrition table -->
							<div class="tile__note">
								<b>Other ingredients:</b> Non-GMO Tapioca Maltodextrin, Non-GMO Maltodextrin, Citric Acid, and Tocopherols.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
