---
title: Product page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- begin product -->
	<section class="dara-product">
		<div class="dara-l-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<h1 class="dara-product__title dara-title-h1 text-center">Vitamin C</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<img class="dara-product__img img-fluid" src="img/product-img.jpg" alt="product"/>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="dara-product__info">
							<p>Acerola cherry is one of the most nutritionally dense superfruits with one of the highest levels of vitamin C and antioxidants of any food source.</p>
							<p>Our acerola cherry powder is made from carefully harvested, wildcrafted organic acerola cherries. The acerola pulp and vitamin C rich skins are frozen immediately after harvesting in Brazil and then freeze-dried in the USA. The freeze-drying process is optimal for retaining the fruits potent nutrients. Our acerola cherry powder is the highest quality and purest powder available and is free of maltodextrin or other fillers.</p>
							<div class="dara-product__desc">
								<p>NATURAL • FULL SPECTRUM • NO ADDITIVES</p>
								<p>NO SOLVENTS • NOT IRRADIATED</p>
							</div>
						</div>
						<a href="#" class="dara-button dara-button--full-w">Add</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end product -->
	<!-- begin composition -->
	<section class="dara-composition">
		<div class="dara-l-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<p class="dara-composition__title dara-title-h1 text-center">What's Inside</p>
						<div class="row">
							<div class="col-md-5">
								<div class="dara-composition__info dara-composition__info--max-w">
									<p><span class="dara-title-h4">Ingredients:</span> 100% Organic freeze-dried Acerola Cherries (Malpighia emarginata) pulp and skin from Brazil.</p>
									<p><span class="dara-title-h4">Other ingredients:</span> None.</p>
									<p><span class="dara-title-h4">Free of:</span> Added sugar, sweeteners, colors, salt, starch, yeast, gluten, wheat, soy, corn, dairy, egg, shellfish, fillers, binders or preservatives.</p>
									<p><span class="dara-title-h4">Solvents used in manufacturing:</span> None.</p>
								</div>
							</div>
							<div class="col-md-12 order-md-last">
								<div class="composition__info">
									<p><span class="dara-title-h4">Heavy metals:</span> Passed on tests for traces of Arsenic, Cadmium, Lead and Mercury.</p>
									<p><span class="dara-title-h4">Alergens:</span> Manufactured in a facility that also handles tree nuts.</p>
									<p><span class="dara-title-h4">Precautions:</span> Those with diabetes, thyroid conditions or abnormal blood pressure should first consult with a doctor before any use. Provided suggested serving sizes are adhered to, this supplement should be safe to take by healthy adults. However, pregnant women and those who are nursing should not take this product. Do not take if you are allergic to ragweed, as Ashwagandha may trigger similar reactions.</p>
								</div>
							</div>
							<div class="col-md-7 text-md-right">
								<div class="dara-composition__cert">
									<h4 class="dara-title-h4">Third-party Certifications:</h4>
									{% set cert = ['Organic', 'Non GMO', 'Gluten Free', 'Vegan', 'Kosher'] %}
									<div class="dara-cert">
										{% for certBl in cert %}
										<div class="dara-cert__bl"><span>{{ certBl }}</span></div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end composition -->
	{% include 'partials/_faq.html' %}

{% endblock %}
