---
title: Products list
filter: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set productList = [{
		title: 'Vitamins',
		mod: 'dara-category--pad'
	},{
		title: 'Minerals',
		mod: 'dara-category--gray'
	}, {
		title: 'Botanicals',
		mod: 'dara-category--blue'
	}] %}

	{% for category in productList %}
	<section class="dara-category{% if category.mod %} {{ category.mod }}{% endif %}">
		<div class="dara-l-center dara-l-center--sm">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<h3 class="dara-title-h3">{{ category.title }}</h3>
						<p class="dara-category__p">Vitamins are compounds of essential nutrients that our bodies need for healthy functioning. They are found in the foods we eat and, in the case of vitamin D, the sun we absorb.</p>
						<p class="dara-category__p">Most vitamin supplements on the market are in 'isolate' form, where the capsule contains only the isolated compound. We ferment ours to convert them into a complex form, where they resemble the vitamins you get from real food and are easier to digest.</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="dara-category__cards">
							<div class="row align-items-stretch">
								{% for i in range(0,8) %}
								<div class="col-12 col-md-6">
									<div class="dara-category-card">
										<div class="dara-category-card__in">
											<div class="text-right">
												<a href="#" class="dara-category-card__link">learn more</a>
											</div>
											<h3 class="dara-category-card__title dara-title-h3">Vitamins</h3>
											<div class="dara-category-card__pic"></div>
											<div class="dara-category-card__info">
												{% if loop.first %}
													Lorem ipsum dolor sit amet
												{% else %}
												From organic <a href="#" class="dara-category-card__highlight">Acerola cherries</a> (whole fruit) and <a href="#" class="dara-category-card__highlight">Camu Camu</a> (spray dried whole fruit). Our Vitamin C is highly bio-available.
												{% endif %}
												<div class="dara-category-card__details">
													{% if loop.first %}
													<button type="button" class="dara-category-card__ico">
														{{ mixins.icon('minus') }}
													</button>
													<div class="dara-category-card__calc">
														<div class="dara-category-card__val">320% daily value</div>
														<div class="dara-category-card__num">1,000 mg</div>
														<div><a href="#" class="dara-category-card__highlight">remove</a></div>
													</div>
													<button type="button" class="dara-category-card__ico">
														{{ mixins.icon('plus') }}
													</button>
													{% else %}
													<button type="button" class="dara-category-card__button dara-button">Add</button>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}
{% endblock %}
