---
title: Products list
filter: true
daraOutMod: dara-out--special-padding
header: dara-header--white-bg dara-header--mob-sm-height
headerHelpIcon: true
backIcon: true
fixedCheckoutMod: dara-fixed-checkout--desktop-visible
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set productList = [{
		title: 'Vitamins',
		products: [{
			name: 'Baoab Fruit',
			img: 'baobab',
			text: 'Baobab powder is especially rich in fibre content, and acts as a prebiotic, which helps to maintain healthy microflora in the intestines. This powder also contains antioxidants, protein, and vitamin A, C and B6.',
			dosage: '1,000 mg'
		}, {
			name: 'Wild Blueberry',
			img: 'blueberry',
			text: '100 grams of wild bilberries on average contain about 40 mg of vitamin C, as well as B vitamins and other beneficial substances. Wild blueberries are also very good for our eyes, specifically due to their antioxidant content, and bilberries also improve our digestion.',
			dosage: '1,000 mg'
		}, {
			name: 'Vitamin C',
			img: 'vitamin-c',
			text: 'Acerola cherry is one of the most nutritionally dense superfruits with one of the highest levels of vitamin C and antioxidants of any food source.',
			dosage: '180 mg',
			status: false
		}]
	},{
		title: 'Superfoods',
		products: [{
			name: 'Açai Berry',
			img: 'acai',
			text: 'Pure organic Açaí berry powder, loaded with antioxidants, essential amino acids, and full of monounsaturated and polyunsaturated fatty acids.',
			dosage: '180 mg'
		}, {
			name: 'Ginger',
			img: 'ginger',
			text: 'Pure organic ginger root powder, used for thousands of years as a powerful anti-inflamatory.',
			dosage: '400 mg'
		}]
	}] %}

	<div class="dara-category-wrapper">
		{% for category in productList %}
		<section class="dara-category">
			<div class="dara-l-center dara-l-center--sm">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="dara-category__in">
								<h5 class="dara-title-h5 dara-category__title">{{ category.title }}</h5>
								<div class="dara-category__cards">
									{% for item in category.products %}
									<a href="#" class="dara-category-card">
										<div class="dara-category-card__bl">
											<img class="dara-category-card__img" src="img/{{ item.img }}.png" alt="{{ item.img }}">
										</div>
										<div class="dara-category-card__bl dara-category-card__bl--info">
											<div class="dara-category-card__info">
												<div class="dara-category-card__title">{{ item.name }}</div>
												<div class="dara-category-card__text">{{ item.text }}</div>
											</div>
										</div>
										<div class="dara-category-card__bl dara-category-card__bl--mob-absolute">
											<div class="dara-category-proportion">
												<div class="dara-category-proportion__num">
													<span>{{ item.dosage }}</span>
													{{ mixins.icon('arrow-right') }}
												</div>
												{% if item.status == false %}
												<i class="dara-category-proportion__add js-ingredient-add-button"></i>
												{% endif %}
											</div>
										</div>
									</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endfor %}
	</div>
{% endblock %}
