---
title: Product page
daraOutMod: dara-out--md-padding
header: dara-header--white-bg dara-header--mob-sm-height
checkoutHeaderInfo: true
headerHelpIcon: true
backIcon: true
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<section class="dara-product">
		<div class="dara-l-center">
			<div class="dara-product__bl">
				<!-- begin product -->
				<div class="dara-product__card">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<div class="dara-product__header">
									<h1 class="dara-product__title">Vitamin C</h1>
									<p class="dara-product__subtitle">ORGANIC • NON-GMO • GLUTEN-FREE • VEGAN • KOSHER</p>
								</div>
							</div>
						</div>
						<div class="row flex-md-row-reverse">
							<div class="col-sm-12 col-md-6">
								<div class="dara-product__view">
									<div class="dara-product-carousel js-dara-product-carousel">
										<img class="dara-product__img" src="img/product-img.jpg" alt="product"/>
										<img class="dara-product__img" src="img/acai.png" alt="product"/>
										<img class="dara-product__img" src="img/ginger.png" alt="product"/>
										<img class="dara-product__img" src="img/baobab.png" alt="product"/>
									</div>
									<div class="text-center">
										{# <a href="#" class="dara-product__button dara-button">Add</a> #}
										<div class="dara-dosage">
											<button type="button" class="dara-dosage__ico">
												<i class="dara-icon dara-icon-minus">
													<svg viewBox="0 0 12 2" enable-background="new 0 0 12 2">
														<path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M1,1h10"/>
													</svg>
												</i>
											</button>
											<div class="dara-dosage__calc">
												<div class="dara-dosage__val">320% daily value</div>
												<div class="dara-dosage__num">1,000 mg</div>
												<div><a href="#" class="dara-dosage__highlight">remove</a></div>
											</div>
											<button type="button" class="dara-dosage__ico">
												<i class="dara-icon dara-icon-plus">
													<svg x="0px" y="0px" viewBox="1 1 10 10" enable-background="new 1 1 10 10">
													<path stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M2,6h8"/>
													<path stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M6,2v8"/>
													</svg>
												</i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="dara-product__benefit">
									<p>Benefits</p>
									<p>Mood • Stress • Bone • Heart/Vessels</p>
									<p>Muscle/Tendon • Sleep • Sports performance</p>
								</div>
								<div class="dara-product__info">
									<p>Acerola cherry is one of the most nutritionally dense superfruits with one of the highest levels of vitamin C and antioxidants of any food source.</p>
									<p>Our acerola cherry powder is made from carefully harvested, wildcrafted organic acerola cherries. The acerola pulp and vitamin C rich skins are frozen immediately after harvesting in Brazil and then freeze-dried in the USA. The freeze-drying process is optimal for retaining the fruits potent nutrients. Our acerola cherry powder is the highest quality and purest powder available and is free of maltodextrin or other fillers.</p>
									<div class="dara-product__desc">
										<p>NATURAL • FULL SPECTRUM • NO ADDITIVES</p>
										<p>NO SOLVENTS • NON IRRADIATED</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end product -->
			</div>
			<div class="dara-product__bl">
				<!-- begin collapse -->
				<div class="dara-collapse">
					<div class="dara-collapse__title js-dara-collapse-bar">What's inside <i class="dara-collapse__icon"></i></div>
					<div class="dara-collapse__content js-dara-collapse-content">
						<p>100% Organic freeze-dried Acerola Cherries (Malpighia emarginata) pulp and skin from Brazil.</p>
						<p><b>Other ingredients:</b> None.</p>
						<p><b>Free of:</b> Added sugar, sweeteners, colors, salt, starch, yeast, gluten, wheat, soy, corn, dairy, egg, shellfish, fillers, binders or preservatives.</p>
						<p><b>Solvents used in manufacturing:</b> None.</p>
						<p><b>Heavy metals:</b> Passed on tests for traces of Arsenic, Cadmium, Lead and Mercury.</p>
					</div>
				</div>
				<!-- end collapse -->
				<!-- begin collapse -->
				<div class="dara-collapse">
					<div class="dara-collapse__title js-dara-collapse-bar">Warnings <i class="dara-collapse__icon"></i></div>
					<div class="dara-collapse__content js-dara-collapse-content">
						<p><b>Allergens:</b> Manufactured in a facility that also handles tree nuts.</p>
						<p><b>Precautions:</b> Those with diabetes, thyroid conditions or abnormal blood pressure should first consult with a doctor before any use. Provided suggested serving sizes are adhered to, this supplement should be safe to take by healthy adults. However, pregnant women and those who are nursing should not take this product. Do not take if you are allergic to ragweed, as Ashwagandha may trigger similar reactions.</p>
					</div>
				</div>
				<!-- end collapse -->
				<!-- begin collapse -->
				<div class="dara-collapse">
					<div class="dara-collapse__title js-dara-collapse-bar">FAQ <i class="dara-collapse__icon"></i></div>
					<div class="dara-collapse__content js-dara-collapse-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum a excepturi neque mollitia! Rem animi quae, laborum rerum quo sunt eligendi dolorum autem fuga eveniet neque consequatur, nisi hic, tempore.</p>
					</div>
				</div>
				<!-- end collapse -->
			</div>
		</div>
	</section>
{% endblock %}
