---
title: Reset
outMod: out--flex
fixedCheckout: false
---
{% extends "layouts/_layout.html" %}

{% block header %}
  <header class="header header--white-bg header--simple js-header">
    <div class="header__in">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="text-center">
              <a href="/" class="header__logo header__logo--only js-header-logo">
                {% include 'partials/_svg_logo.svg' %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <main class="content">
    <div class="auth">
      <div class="auth__inner">
        <h5 class="auth__title">RESET YOUR PASSWORD</h5>
        <form class="form">
          <div class="form__row ml-0 mr-0">
            <p>Enter the email address associated with your account and we'll send you a link to reset your password.</p>
          </div>
          <div class="form__row">
            <div class="form__field js-input-box is-error is-active">
              <input type="email" class="form__input js-input-data">
              <label for="email" class="form__label form__label--bold">Email</label>
              <div class="form__helper">Please type an email</div>
            </div>
          </div>
          <div class="form__row form__row--md-margin-b ml-0 mr-0">
            <button class="form__button" type="submit">Continue</button>
          </div>
          <div>
            <span class="form__txt-bold">New to Blend?</span>
            <a href="#" class="form__link">Get started now</a>
          </div>
      </div>
    </div>
    <div class="auth" hidden>
      <div class="auth__inner">
        <h5 class="auth__title">RESET YOUR PASSWORD</h5>
        <form class="form">
          <div class="form__row ml-0 mr-0">
            <p class="mb-1">This helps prevent robots and scripts from accessing your Blend account.</p>
          </div>
          <div class="form__row form__row--lg-margin-b ml-0 mr-0 justify-content-center">
            <img class="img-fluid" src="img/recaptcha.jpg" alt="recaptcha placeholder">
          </div>
      </div>
    </div>
    <div class="auth" hidden>
      <div class="auth__inner">
        <h5 class="auth__title">RESET YOUR PASSWORD</h5>
        <form class="form">
          <div class="form__row ml-0 mr-0">
            <p class="mb-1">Thanks, check your email for instructions to reset your password.</p>
          </div>
          <div class="form__row ml-0 mr-0">
            <p class="mb-0">Didn’t get the email ? Check your spam folder or <a href="#" class="form__link form__link--txt-normal">resend</a></p>
          </div>
      </div>
    </div>
  </form>
</div>
</main>
{% endblock %}

{% block footer %}
<footer class="footer footer--no-bg">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="footer__terms text-center">© Blend Contact	Privacy & Terms </div>
    </div>
  </div>
</div>
</footer>
{% endblock %}