---
title: Step 1
bodyClass: body--bg-white
daraOutMod: dara-out--md-padding
header: dara-header--white-bg dara-header--mob-sm-height
headerHelpIcon: true
mobCheckout: false
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% set radio = [{
	title: 'GET PERSONALIZED BLEND',
	text: 'Based on your health goals and needs. You can optionally customize it later.'
}, {
	title: 'BUILD CUSTOM BLEND',
	text: 'Choose individual ingredients and dosages from our library of premium ingredients.'
}]  %}

<section class="dara-quiz">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="dara-special-title">
					<span>I’ll get your personalized blend in seconds.<br> Ready to go?</span>
				</div>
				{% for item in radio %}
				<div class="dara-quiz-item">
					<div class="dara-radiobox dara-radiobox--framed">
						<input id="{{ item.title | lower | replace(' ', '-') }}" type="radio" name="blends">
						<label for="{{ item.title | lower | replace(' ', '-') }}" class="dara-radiobox__label">
							<h4 class="dara-title-h4 dara-quiz-item__title">{{ item.title }}</h4>
							<p>{{ item.text }}</p>
						</label>
						<span class="dara-radiobox__active-bg"></span>
					</div>
				</div>
				{% endfor %}
				<div class="dara-quiz__button-wrap">
					<div class="dara-quiz__button-row">
						<div class="dara-quiz__button">
							<button type="button" class="dara-button dara-button--quiz is-disabled">LET’S DO THIS!</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
