---
title: Step 4
outMod: out--md-padding
header: header--white-bg header--mob-sm-height
headerHelpIcon: true
fixedCheckout: false
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% set radio = [{
	title: 'NONE',
	text: 'I don’t want a plant-based protein powder with in my blend.'
}, {
	title: 'KETOGENIC',
	text: 'Ultra low carb - with organic plant-based proteins and organic MCT oil for achieving ketosis '
}, {
	title: 'ATHLETIC',
	text: 'Organic plant-based proteins with the right balance of energy and electrolytes for enduring workouts'
}, {
	title: 'PROTEIC',
	text: 'Organic plant-based proteins, with low calories and carbs. Ideal for increasing protein intake'
}]  %}

<section class="quiz">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="special-title">
					<span>Would you like to add a plant-based protein powder to your blend?</span>
				</div>
				{% for item in radio %}
				<div class="quiz-item">
					<div class="radiobox radiobox--framed">
						<input id="{{ item.title | lower | replace(' ', '-') }}" type="radio" name="powders">
						<label for="{{ item.title | lower | replace(' ', '-') }}" class="radiobox__label">
							<h4 class="title-h4 quiz-item__title">{{ item.title }}</h4>
							<p>{{ item.text }}</p>
						</label>
						<span class="radiobox__active-bg"></span>
					</div>
				</div>
				{% endfor %}
				<div class="quiz__button-wrap">
					<div class="quiz__button-row">
						<div class="quiz__button">
							<button type="button" class="button button--quiz-done">Done</button>
						</div>
						<div class="quiz__button">
							<button type="button" class="button button--quiz">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
