---
title: Step 6
bodyClass: body--bg-white
daraOutMod: dara-out--md-padding
header: dara-header--white-bg dara-header--mob-sm-height
headerHelpIcon: true
mobCheckout: false
footer: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% set radio = [{
	title: 'UNSWEETENED',
	text: 'Ultra low carb - with organic plant-based proteins and organic MCT oil for achieving ketosis '
}, {
	title: 'low',
	text: 'Organic plant-based proteins with the right balance of energy and electrolytes for enduring workouts'
}, {
	title: 'MEDIUM',
	text: 'Organic plant-based proteins, with low calories and carbs. Ideal for increasing protein intake'
}, {
	title: 'HIGH',
	text: 'Organic plant-based proteins, with low calories and carbs. Ideal for increasing protein intake'
}]  %}

<section class="dara-quiz">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="dara-quiz__title">How sweet would you like your blend?</div>
				{% for item in radio %}
				<div class="dara-quiz-item">
					<div class="dara-radiobox dara-radiobox--framed">
						<input id="{{ item.title | lower | replace(' ', '-') }}" type="radio" name="sweetener">
						<label for="{{ item.title | lower | replace(' ', '-') }}" class="dara-radiobox__label">
							<h4 class="dara-title-h4 dara-quiz-item__title">{{ item.title }}</h4>
							<p>{{ item.text }}</p>
						</label>
						<span class="dara-radiobox__active-bg"></span>
					</div>
				</div>
				{% endfor %}
				<div class="dara-quiz__button-wrap">
					<div class="dara-quiz__button-row">
						<div class="dara-quiz__button">
							<button type="button" class="dara-button dara-button--quiz-done">Done</button>
						</div>
						<!-- div class="dara-quiz__button">
							<button type="button" class="dara-button dara-button--quiz">Next</button>
						</div -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
