.category-wrapper
	padding-top: 40px
	margin-bottom: 140px
	+rmin(1025)
		margin-bottom: 70px


.category
	margin-bottom: 20px
	// overflow: hidden
	// +rmin(768)
		// overflow: initial
	&:last-child
		margin-bottom: 0
	&__in
		margin: 0 -15px
		background: #fff
		+rmin(768)
			margin: auto
	&__title
		text-transform: uppercase
		margin-bottom: 0
		font-size: 14px
		padding: 10px 20px 0
		letter-spacing: 0.828px
		line-height: 1.25


.category-card
	position: relative
	display: flex
	align-items: center
	padding: 14px 20px 16px
	color: #000
	border-bottom: 1px solid #f2f2f2
	&:hover
		text-decoration: none
		color: #000
	&:first-child
		padding-top: 8px
		.category-card__bl--dosage
			top: 8px
	&:last-child
		border-bottom: none
	&__bl
		margin: 0 10px
		&:first-child
			margin-left: 0
		&--dosage
			position: absolute
			top: 14px
			right: 20px
			bottom: 16px
			margin: 0
			+rmin(500)
				position: relative
				top: auto
				right: auto
				bottom: auto
				display: flex
				align-items: center
				align-self: stretch
		&--info
			flex-basis: calc(100% - 70px)
			+rmin(375)
				flex-basis: calc(100% - 100px)
			+rmin(500)
				margin-right: 30px
				flex-basis: calc(100% - 200px)
		&--info-full-w
			margin-right: 30px
	&__img
		display: block
		width: 70px
		background: #d8d8d8
		+rmin(375)
			width: 90px
	&__info
		font-size: 14px
		line-height: 1.14
		+rmin(768)
			font-size: 16px
			line-height: 1
	&__title
		padding-right: 70px
		margin-bottom: 7.5px
		+gilroy-bold
		font-size: 14px
		line-height: 1.2
		letter-spacing: -0.11px
		+rmin(500)
			padding-right: 0
		+rmin(768)
			margin-bottom: 11px
			font-size: 16px
			line-height: 1.1
	&__desc
		display: flex
		color: #000
		&:hover,
		&:active
			text-decoration: none
			color: #000



.category-proportion
	white-space: nowrap
	text-align: right
	+rmin(500)
		min-width: 100px
	&__num
		+gilroy-medium
		font-size: 16px
		line-height: 1
		letter-spacing: -0.128px
		color: $brand-color
		.icon
			vertical-align: -1px
			fill: $brand-color
			font-size: 13px
	&__add
		display: none
		position: relative
		width: 20px
		height: 20px
		margin-top: -2px
		background: $brand-color
		border-radius: 50%
		transition: background 0.2s ease
		&:hover
			background: darken($brand-color, 5%)
		+rmin(500)
			width: 30px
			height: 30px
			margin-top: 0
			margin-left: auto
		&.is-visible
			display: block
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			border-radius: 5px
			background: #FFF
		&:before
			width: 2px
			height: 10px
			margin: -5px 0 0 -1px
			+rmin(500)
				height: 12px
				margin-top: -6px
		&:after
			width: 10px
			height: 2px
			margin: -1px 0 0 -5px
			+rmin(500)
				width: 12px
				margin-left: -6px
	&__link
		display: inline-block