.checkout
	padding: 40px 0 20px
	+rmin(1025)
		padding: 84px 0 43px
	&__in
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		max-width: 1142px
		margin: 0 auto
		padding: 0 20px
		&--one-card
			justify-content: initial
	&__bl
		margin: 0 0 20px
		width: 100%
		+rmin(1025)
			margin: 0 20px 20px
		&--account
			+rmin(1025)
				width: 479px
		&--ship
			display: flex
			order: -1
			+rmin(1025)
				width: 385px
				order: initial
			.checkout-card
				display: flex
				flex-direction: column
				justify-content: space-between
				margin: 0 auto
				+rmin(1025)
					margin: 0


.checkout-card
	width: 100%
	max-width: 479px
	margin: 0 auto
	padding: 20px 20px 23px
	background: #FFF
	border-radius: 5px
	+rmin(1025)
		width: 100%
		margin: auto
	&:not(:only-child)
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
	&--auto-height
		position: relative
		min-height: auto
	&--full-height
		height: 100%
	&--modal
		max-width: 100%
		border-radius: 0
		border: none
		border-left: 1px solid #ddd
		+rmin(768)
			max-width: 479px
	&--no-padding-b
		padding-bottom: 0
	&__title
		margin-bottom: 19px
		text-transform: uppercase
		font-size: 14px
		+gilroy-bold
		letter-spacing: 1.13px
		line-height: 1.33
		&--with-pad
			padding: 0 10px
		&--sm-margin-b
			margin-bottom: 3px
	&__notes
		display: none
		+rmin(1025)
			display: block
	&__note
		position: relative
		margin: 20px 0 12px
		padding: 9px 0 0 46px
		+gilroy-medium
		font-size: 12px
		color: #008489
		line-height: 1.3
		letter-spacing: -0.16px
		+rmin(1025)
			max-width: 286px
		&--last
			margin-bottom: 0
			padding-top: 0
		&--margin-b
			margin-bottom: 30px
	&__note-ico
		position: absolute
		top: 50%
		left: 0
		margin-top: -15px
		font-size: 30px
		width: 30px
		text-align: center
		line-height: 0.9
	&__close
		position: absolute
		display: block
		top: 21px
		right: 22px
		font-size: 10px
		stroke: #9B9B9B
		line-height: 1
		&:hover
			text-decoration: none
			stroke: darken(#9B9B9B, 10%)
	&__date
		margin-bottom: 7px
		+gilroy-medium
		font-size: 36px
		color: #008489
		letter-spacing: 1.13px
		line-height: 1.36
	&__comment
		margin-bottom: 0
		padding: 0 5px
		+gilroy-medium
		font-size: 12px
		color: #B9B7B7
		line-height: 1.3
		a
			text-decoration: underline
			color: inherit
			&:hover,
			&:visited,
			&:focus
				color: inherit
			&:hover
				text-decoration: none
	&__buttons
		margin: 0 -5px
		+rmin(768)
			display: flex
	&__button
		display: block
		width: 100%
		margin: 0 5px 10px
		&:last-child
			margin-bottom: 0
		+rmin(768)
			width: auto
			flex-basis: 100%
			margin-bottom: 0
	&__row
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px
		font-size: 14px
		color: #4a4a4a
	hr
		margin: 30px -20px 5px


.checkout-product
	display: flex
	align-items: flex-end
	margin: 5px -7px 0
	&__el
		display: flex
		justify-content: space-between
		flex-basis: 100%
		font-size: 0
		margin: 0 7px 10px
		letter-spacing: -0.16px
		&--img
			max-width: 71px
			margin-bottom: 0
	&__price,
	&__desc
		font-size: 12px
		line-height: 1.3
	&__price
		+gilroy-medium
		letter-spacing: 0.9px
	&__img
		max-width: 100%
		max-height: 81px
	&__title
		color: #000
	&__desc
		max-width: 189px
		+gilroy-bold
		color: #008489
	p
		margin-bottom: 0


.total
	margin: 0 auto
	letter-spacing: -0.16px
	+rmin(1025)
		max-width: 337px
	&__in
		margin: 0 -15px 5px
	&__el
		+gilroy-medium
		font-size: 12px
		color: #008489
		line-height: 2.25
		letter-spacing: -0.12px
		&--final
			color: #000
			.total__title,
			.total__price
				text-transform: none
				font-size: 16px
				letter-spacing: -0.16px
				line-height: 1.68
			.total__price
				letter-spacing: 0.9px
	&__title
		text-transform: uppercase
	&__price
		letter-spacing: 0.8px
	// &__helper
	// 	position: relative
	// 	margin: 0 -20px
	// 	padding: 3.5px 20px
	// 	+gilroy-medium
	// 	font-size: 12px
	// 	background: #F5A623
	// 	color: #fff
	// 	line-height: 1.33
	// 	opacity: 0
	// 	visibility: hidden
	// 	+rmin(1025)
	// 		margin: 0 -23px
	// 		padding: 3.5px 23px
	// 	&:before,
	// 	&:after
	// 		content: ""
	// 		position: absolute
	// 		top: 0
	// 		bottom: 0
	// 		background: #F5A623


.icon-apple
	display: inline-block
	vertical-align: middle
	width: 48px
	height: 20px
	background: url(../img/apple.svg) top center no-repeat
	background-size: contain
	+rmin(385)
		width: 54px
		height: 26px


.coupon
	display: flex
	margin-top: 20px
	+rmin(1025)
		margin-top: 25px
	&__input
		flex-basis: 100%
		margin-right: 10px
		border: 1px solid #ddd
		padding: 2px 9px
		border-radius: 3px
		+placeholder
			text-transform: uppercase
			text-align: center
			font-size: 12px
			color: #868686
			letter-spacing: -0.165px
			line-height: 1