.hero
	position: relative
	z-index: 0
	padding-top: 100px
	color: #000
	overflow: hidden
	+rmin(768)
		padding-top: 175px
	&.hero--special-padding
		padding: 50px 0 56px
		+rmin(1200)
			padding: 75px 0 56px
	&.hero--pink-bg
		background-color: #FDF4EB
		background-image: linear-gradient(#FDF4EB, #fcf5eb, #f7f2ee, #f0e9e3)
	&.hero--green-bg
		background: #D0E4DB
	&__wrap
		max-width: 1440px
		margin: 0 auto
	&__bl
		position: relative
		max-width: 1020px
		margin: 0 auto 50px
		+rmin(576)
			margin: 0 auto
		+rmin(1200)
			+css-lock(1020, 1100, 1200, 1920, max-width)
	&__head
		margin-bottom: 30px
		padding: 0 25px
		+rmin(375)
			padding: 0 50px
		+rmin(576)
			margin-bottom: 44px
	&__title
		margin-bottom: 15px
		+caslon-semibold
		font-size: 38px
		letter-spacing: -1.8px
		line-height: 1.1
		+rmin(576)
			margin-bottom: 7px
			font-size: 45px
			line-height: 1.16
		+rmin(1200)
			+css-lock(15, 30, 1200, 1920, margin-bottom)
			+css-lock(70, 85, 1200, 1920)
			br
				display: none
		span
			color: #167A65
	&__subtitle
		max-width: 697px
		margin: 0 auto
		+gilroy-medium
		font-size: 15px
		line-height: 1.08
		+rmin(375)
			font-size: 16px
		+rmin(576)
			font-size: 20px
			line-height: 1.44
		+rmin(1200)
			+css-lock(697, 1000, 1200, 1920, max-width)
			+css-lock(20, 30, 1200, 1920)
		&--sm
			+rmin(576)
				font-size: 18px
				+css-lock(18, 22, 1200, 1920)
	&__desc
		margin-bottom: 25px
		text-transform: uppercase
		+gilroy-bold
		font-size: 16px
		color: #167A65
		line-height: 1.375
		letter-spacing: 1.71px
		+rmin(1200)
			+css-lock(16, 20, 1200, 1920)
			margin-bottom: 55px
	&__img-wrap
		position: relative
		z-index: -1
		margin: 0 -15px
		+rmin(1025)
			margin: -60px -15px 0
		&--more-margin
			margin: 0 -15px 0
			+rmin(1025)
				margin: -50px -15px 0
	&__img
		position: relative
		display: block
		left: 50%
		width: 600px
		margin: 0 auto
		transform: translateX(-50%)
		+rmin(576)
			position: static
			width: auto
			max-width: 100%
			transform: translateX(0)
		&--smaller-width
			+rmin(1200)
				max-width: 90%

.subscription
	padding: 0 15px 40px
	background: #D0E4DB
	+rmin(768)
		padding: 0 40px 40px
	&__in
		background: #FFF
	&__center
		margin: 0 auto
		max-width: 1700px
		padding: 30px 15px
		+rmin(768)
			padding: 50px 15px
		+rmin(1200)
			padding: 64px 15px 97px
	&__title
		margin-bottom: 0
		+caslon-semibold
		font-size: 31px
		letter-spacing: -2.14px
		line-height: 1.08
		+rmin(768)
			font-size: 40px
		+rmin(1200)
			+css-lock(50, 70, 1200, 1920)
	&__head
		max-width: 760px
		margin: 0 auto 35px
		text-align: center
		+rmin(768)
			margin-bottom: 69px
		+rmin(1200)
			+css-lock(760, 1000, 1200, 1920, max-width)
	&__welcome
		margin-bottom: 30px
		+gilroy-bold
		text-transform: uppercase
		font-size: 16px
		color: #167A65
		letter-spacing: 1.71px
		+rmin(768)
			margin-bottom: 38px
		+rmin(1200)
			+css-lock(38, 50, 1200, 1920, margin-bottom)
			+css-lock(16, 23, 1200, 1920)


.step
	max-width: 300px
	margin: 0 auto 30px
	text-align: center
	+gilroy-medium
	font-size: 15px
	+rmin(1200)
		+css-lock(16, 20, 1200, 1920)
	&__img
		width: 100%
		max-width: 100px
		height: 100px
		margin: 0 auto 31px
		object-fit: contain
		font-size: 'object-fit: contain'
		+rmin(768)
			margin-bottom: 36px
	&__pic
		display: flex
		min-height: 100px
		justify-content: center
		align-items: center
		+rmin(768)
			min-height: 160px
	&__icon
		display: inline-block
		background-repeat: no-repeat
		background-size: contain
		&--money
			width: 47px
			height: 54px
			background-image: url(../img/money.png)
		&--truck
			width: 61px
			height: 27px
			background-image: url(../img/truck.png)
		&--handshake
			width: 60px
			height: 51px
			background-image: url(../img/handshake.png)
	&__title
		margin-bottom: 6px
		text-transform: uppercase
		+gilroy-bold
		color: #167A65
		font-size: 14px
		line-height: 1.375
		letter-spacing: 1.71px
		+rmin(768)
			font-size: 16px
		+rmin(1200)
			+css-lock(6, 10, 1200, 1920, margin-bottom)
			+css-lock(16, 23, 1200, 1920)
	&__info
		max-width: 275px
		margin: 0 auto
		line-height: 1.625
		+rmin(1200)
			+css-lock(275, 320, 1200, 1920, max-width)


.about
	background: #fff
	color: #181818
	overflow: hidden
	&__section
		margin: 0 -15px
	&__bl
		+rmin(768)
			height: 100%
			min-height: 400px
		+rmin(1200)
			display: flex
			min-height: 600px
		&--text
			display: flex
			align-items: center
			height: 100%
			padding: 40px 15px
			+rmin(768)
				padding: 40px 20px
		&--img
			position: relative
			margin: 0 -15px
			+rmin(1200)
				align-items: stretch
	&__in
		max-width: 430px
		margin: 0 auto
		text-align: center
		+rmin(768)
			text-align: left
		+rmin(1200)
			+css-lock(470, 650, 1200, 1920, max-width)
	&__img
		display: block
		width: 100%
		object-fit: cover
		font-family: 'object-fit: cover;'
		+rmin(768)
			position: absolute
			top: 0
			left: 0
			height: 100%
		+rmin(1200)
			position: static
	&__desc
		margin-bottom: 30px
		text-transform: uppercase
		+gilroy-bold
		font-size: 16px
		color: #167A65
		line-height: 1.375
		letter-spacing: 1.71px
		+rmin(1200)
			margin-bottom: 44px
			+css-lock(16, 20, 1200, 1920)
	&__title
		margin-bottom: 14px
		+caslon-semibold
		font-size: 30px
		line-height: 1.08
		+rmin(768)
			font-size: 40px
		+rmin(1200)
			+css-lock(50, 65, 1200, 1920)
	&__text
		max-width: 509px
		+gilroy-medium
		font-size: 15px
		+rmin(768)
			font-size: 16px
		+rmin(1200)
			+css-lock(509, 600, 1200, 1920, max-width)
			+css-lock(18, 24, 1200, 1920)
		&:not(:last-child)
			margin-bottom: 30px
			+rmin(1200)
				margin-bottom: 57px
		p
			margin-bottom: 22px
			&:last-child
				margin-bottom: 0


.feature
	padding: 40px 15px 0
	color: #181818
	background: #FDF4EB
	+rmin(768)
		padding: 40px 40px 0
	&__in
		padding: 45px 15px 30px
		background: #FFF
		+rmin(768)
			padding: 45px 15px 55px
	&__center
		max-width: 1280px
		margin: 0 auto
	&__head
		margin-bottom: 30px
		text-align: center
		+rmin(1200)
			margin-bottom: 51px
	&__desc
		text-transform: uppercase
		margin-bottom: 20px
		+gilroy-bold
		font-size: 16px
		color: #167A65
		line-height: 1.375
		letter-spacing: 1.71px
		+rmin(1200)
			margin-bottom: 43px
			+css-lock(16, 18, 1200, 1920)
	&__title
		margin-bottom: 20px
		+caslon-semibold
		font-size: 37px
		line-height: 1.08
		letter-spacing: -2.04px
		+rmin(768)
			font-size: 45px
		+rmin(1200)
			margin-bottom: 28px
			+css-lock(50, 65, 1200, 1920)
	&__subtitle
		+gilroy-medium
		font-size: 15px
		+rmin(768)
			font-size: 18px
		+rmin(1200)
			+css-lock(18, 22, 1200, 1920)
	&__list
		max-width: 1000px
		margin: 0 auto 40px
		+rmin(1200)
			margin-bottom: 60px
	&__img
		margin-bottom: 40px
		+rmin(768)
			margin-bottom: 87px


.checklist
	max-width: 235px
	margin: 0 auto
	text-align: left
	+gilroy-bold
	font-size: 18px
	color: #167A65
	line-height: 1.2
	+rmin(768)
		max-width: 100%
		margin: auto
		font-size: 20px
	+rmin(1200)
		+css-lock(25, 30, 1200, 1920)
	&--horizontal
		display: flex
		flex-wrap: wrap
		justify-content: space-evenly
	&__option
		position: relative
		margin-bottom: 10px
		padding-left: 35px
		+rmin(768)
			margin-bottom: 18px
			padding-left: 55px
		&:before
			content: ""
			position: absolute
			top: 4px
			left: 0
			width: 20px
			height: 14px
			background: url(../img/check-green.svg) 0 0 no-repeat
			background-size: contain
			+rmin(768)
				width: 22px
				height: 16px
			+rmin(1200)
				top: 8px
		&:last-child
			margin-bottom: 0






