.dara-hero
	position: relative
	display: flex
	align-items: stretch
	padding: 75px 0
	min-height: 667px
	color: #FFF
	background-image: url(../img/home-bg-mobile.jpg)
	+cover
	+rmin(575)
		background-image: url(../img/home-bg-tablet.jpg)
	+rmin(768)
		align-items: center
		min-height: 642px
		background-position: 42% 50%
		background-image: url(../img/home-bg.jpg)
	+rmin(1100)
		background-position: 0% 50%
	&__wrap
		min-height: 100%
		max-width: 1300px
		margin: 0 auto
		padding: 0 15px
		+rmin(768)
			min-height: auto
	&__bl
		position: relative
		z-index: 1
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		min-height: 100%
		+rmin(768)
			display: block
			max-width: 500px
		+rmin(1100)
			max-width: 720px
	&__head
		margin-bottom: 50px
		+av-medium
		letter-spacing: -0.24px
	&__title
		margin-bottom: 14px
		+av-demibold
		font-size: 30px
		letter-spacing: -0.2px
		line-height: 1.16
		+rmin(1200)
			margin-bottom: 9px
			font-size: 52px
			letter-spacing: -0.43px
			line-height: 1.365
	&__subtitle
		+av-medium
		font-size: 20px
		letter-spacing: -0.56px
		line-height: 1.2
		+rmin(1200)
			font-size: 24px
			line-height: 1.375
		br
			+rmin(576)
				display: none


.dara-subscription
	padding: 50px 0 30px
	background: #F5F9FC
	+rmin(768)
		padding: 56px 0 43px
	&__in
		max-width: 1225px
		margin: 0 auto
		padding: 0 15px
	&__title
		text-transform: capitalize
		font-size: 29px
		margin-bottom: 0
	&__head
		max-width: 492px
		margin: 0 auto 39px
		text-align: center
		+av-medium
		font-size: 20px
		letter-spacing: -0.45px
		+rmin(768)
			margin-bottom: 55px


.dara-step
	margin-bottom: 45px
	text-align: center
	+av-medium
	font-size: 16px
	line-height: 1.375
	letter-spacing: -0.19px
	&__img
		width: 100%
		max-width: 208px
		height: 208px
		margin: 0 auto 31px
		object-fit: contain
		font-size: 'object-fit: contain'
		+rmin(768)
			margin-bottom: 36px
	&__title
		margin-bottom: 6px
		text-transform: uppercase
		+av-bold
		font-size: 14px
		line-height: 1.35
		letter-spacing: 1.5px
	&__info
		max-width: 296px
		margin: 0 auto


.dara-features
	position: relative
	padding-top: 45px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 9px
		right: 9px
		border-top: 1px solid #D8D8D8
		+rmin(768)
			left: 0
			right: 0
	&__in
		max-width: 855px
		margin: 0 auto


.dara-feature
	margin-bottom: 26px
	text-align: center
	&__icon
		display: inline-block
		vertical-align: middle
		&--quality
			.icon
				font-size: 45px
		&--transparency
			.icon
				font-size: 49px
		&--sustainability
			.icon
				font-size: 50px
		&--made-in-california
			.icon
				font-size: 56px
		&--flask
			display: inline-block
			width: 50px
			height: 57px
			background: url(../img/flask.svg)
			background-size: contain
		&--gmo
			.icon
				font-size: 47px
		&--vegan
			.icon
				font-size: 48px
		&--gluten-free
			.icon
				font-size: 47px
	&__pic
		height: 65px
		margin-bottom: 5px
		+vertical
		margin-bottom: 0
	&__text
		+av-medium
		font-size: 16px
		letter-spacing: -0.25px
		line-height: 1
		+rmin(768)
			+av-demibold