.product
	+rmin(768)
		margin-top: 43px
	&__bl
		margin-bottom: 70px
		&:last-child
			margin-bottom: 140px
			+rmin(1025)
				margin-bottom: 70px
	&__card
		padding: 8px 5px 20px
		background: #fff
		font-size: 16px
		line-height: 1.1
		letter-spacing: -0.08px
		border-radius: 5px
		+rmin(768)
			padding: 10px 15px 20px
	&__header
		margin-bottom: 36px
		+rmin(768)
			margin-bottom: 30px
	&__title
		margin-bottom: 0
		+gilroy-bold
		font-size: 32px
		line-height: 1.375
		letter-spacing: -0.43px
	&__subtitle
		margin-bottom: 0
		text-transform: uppercase
		+gilroy-bold
		font-size: 12px
		line-height: 1.45
		letter-spacing: -0.21px
	&__view
		margin-bottom: 30px
		+rmin(499)
			margin: 0 auto 30px
		+rmin(768)
			margin: -66px auto 30px
			max-width: 240px
	&__benefit
		margin-bottom: 20px
		color: #008489
		letter-spacing: -0.01px
		line-height: 1.1
		+rmin(768)
			margin-bottom: 40px
		p
			margin-bottom: 0
	&__info
		p:last-child
			margin-bottom: 0
	&__desc
		text-transform: uppercase
		+gilroy-bold
		font-size: 12px
		letter-spacing: -0.21px
		line-height: 1.45
		p
			margin-bottom: 0
	&__carousel
		max-width: 231px
		margin: 0 auto 20px
	&__button
		width: 100%
		max-width: 442px
		+gilroy-medium
		+rmin(768)
			max-width: initial


.product-carousel
	max-width: 350px
	margin: 0 auto 22px
	padding-left: 70px
	+rmin(768)
		margin-bottom: 30px
		padding-left: 0
	img
		display: none
		max-width: 100%
		&:first-child
			display: inline-block
	.slick-dots
		position: absolute
		top: 0
		left: 0
		width: 50px
		+rmin(768)
			position: relative
			top: auto
			width: auto
			text-align: center
		li
			margin-bottom: 10px
			width: 50px
			height: 50px
			border: 1px solid #ddd
			border-radius: 1px
			+vertical
			+rmin(768)
				margin: 10px 5px
			&.slick-active
				border-color: $brand-color
		&__img
			display: inline-block
			vertical-align: middle
			width: 100%
			max-height: 100%