.dara-quiz
	max-width: 760px
	margin: 0 auto
	padding-bottom: 20px
	+rmin(768)
		padding-top: 28px
	&__title
		max-width: 650px
		margin: 0 auto 10px
		text-align: center
		+op-semibold
		font-size: 22px
		line-height: 1.363
		letter-spacing: 0.78px
		+rmin(768)
			max-width: 550px
			margin-bottom: 32px
			+op-bold
			font-size: 27px
			letter-spacing: 1.14px
			line-height: 1.375
		+rmin(1024)
			max-width: 745px
			font-size: 32px
	&__button-wrap
		max-width: 335px
		margin: 20px auto 0
		&--md-margin-t
			margin-top: 15px
	&__button-row
		display: flex
		margin: 0 -5px
	&__button
		width: 100%
		margin: 0 5px
	&__el
		margin-bottom: 24px
		&:last-child
			margin-bottom: 0
	&__carousel
		max-width: 500px
		margin: 0 auto
		&--sm-max-w
			max-width: 370px


.dara-quiz-item
	max-width: 335px
	margin: 10px auto
	&--sm-w
		max-width: 175px
	&--md-w
		max-width: 240px
	&__title
		margin-bottom: 2px
		text-transform: uppercase
		+br-bold
		color: #000
