<!-- begin faq -->
<section class="dara-faq">
	<div class="dara-faq__in">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h2 class="dara-faq__title dara-title-h2 text-center">Frequently Asked <br/>Questions</h2>
					<div class="row">
						<div class="col-md-6">
							<div class="pr-4">
								<div class="dara-faq__bl">
									<h4 class="dara-faq__subtitle dara-title-h4">Was Ascorbic Acid added to this product?</h4>
									<p>No, nothing was added to this product. All Vitamin C content is natural from the Acerola fruit.</p>
								</div>
								<div class="dara-faq__bl">
									<h4 class="dara-faq__subtitle dara-title-h4">Is this the certificate for my supplement?</h4>
									<p>Yes, the certificate of analysis on this page is from our latest batch of product.</p>
								</div>
								<div class="dara-faq__bl">
									<h4 class="dara-faq__subtitle dara-title-h4">What’s the expiration date on this?</h4>
									<p>We only ship ingredients with many months until the expiration date of each product. Our supplements are designed to be consumed within a month of delivery.</p>
								</div>
								<div class="dara-faq__bl">
									<h4 class="dara-faq__subtitle dara-title-h4">Where is this manufactured?</h4>
									<p>This is manufactured in California, USA.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="dara-faq__bl">
								<h4 class="dara-faq__subtitle dara-title-h4">Why does this contain small quantities of heavy metals?</h4>
								<p>Plants absorb elements from the soil where they are grown, and every soil contains small amounts of heavy metals. Our Quality Control section above reports the trace amounts detected, well within the federal safety guidelines. Please visit fda.gov for more details.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end faq -->