<div class="filter js-filter">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="filter__container">
					<a href="#" class="filter-preview js-filter-add-ingredients">
						<span>INGREDIENTS</span>
						<i class="filter-preview__icon"></i>
					</a>
					<div class="filter__in js-filter">
						<form class="filter__form">
							<div class="filter__search-box js-search-box">
								<i class="filter__search-ico js-search-loop"></i>
								<input type="text" class="filter__search js-search">
								<ul class="filter__search-list js-search-autocomplete">
									<li><a href="#" class="filter__search-link">Maca root</a></li>
									<li><a href="#" class="filter__search-link">Magnesium</a></li>
									<li><a href="#" class="filter__search-link">Manganese</a></li>
								</ul>
								<button type="button" class="filter__search-close js-search-close">{{ mixins.icon('close') }}</button>
							</div>
						</form>
						<div class="filter-dropdown js-filter-dropdown">
							<a href="#" class="filter-dropdown__link js-filter-dropdown-link">Filter <i class="filter-dropdown__arrow-down"></i></a>
							<ul class="filter-dropdown__list js-filter-dropdown-list">
								<li class="filter-dropdown__option">
									<span>Filter by:</span>
									<a href="#" class="filter-dropdown__clear js-filter-dropdown-hide">Clear</a>
								</li>
								{% set radio = ['My Formulation', 'Vitamins', 'Minerals', 'Botanicals'] %}
								{% for item in radio %}
								<li class="filter-dropdown__option">
									<span>{{ item }}</span>
									<div class="filter-radio">
										<input class="filter-radio__input js-filter-radio" type="radio" name="category" value="{{ item | lower | replace(' ', '-') }}"{% if loop.first %} checked{% endif %}>
										<span class="filter-radio__dot"></span>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>