{% if fixedCheckout !== false %}
<!-- begin fixed checkout button -->
<div class="fixed-checkout{% if fixedCheckoutMod %} {{ fixedCheckoutMod }}{% endif %}">
  <div class="fixed-checkout__in">
  	<div class="fixed-checkout__bl">
  		<div class="fixed-checkout__el">
  			<p class="fixed-checkout__num">30</p>
  			<p>servings</p>
  		</div>
  	</div>
  	<div class="fixed-checkout__bl">
	  	<div class="fixed-checkout__el">
	  		<p class="fixed-checkout__price">$ <span class="fixed-checkout__num">39.90</span>/mo</p>
	  		<p>FREE SHIPPING</p>
	  	</div>
  	</div>
  	<div class="fixed-checkout__bl">
	  	<div class="fixed-checkout__btn">
	  		<a href="#" class="button button--outline">Checkout</a>
	  	</div>
  	</div>
  </div>
</div>
<!-- end fixed checkout button -->
{% endif %}