{% if footer !== false %}
<!-- begin footer -->
<footer class="dara-footer">
	<div class="dara-footer__in">
		<nav class="dara-nav">
			<ul class="dara-nav__list">
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Accesibility</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Terms Of Service</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Privacy Policy</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Legal Stuff</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Join The Team</a></li>
			</ul>
		</nav>
		<p class="dara-footer__copyright">Dara Health Inc 2017-2018</p>
		<p class="dara-footer__info">Health claims herein have not been reviewed by the FDA. Dara Health's products are not intended to treat, diagnose, cure or prevent any disease.</p>
	</div>
</footer>
<!-- end footer -->
{% endif %}