{% if footer !== false %}
<!-- begin footer -->
<footer class="footer">
	<div class="footer__in">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 order-2 order-md-1 col-md-6">
					<a href="#" class="footer__logo">{% include 'partials/_svg_logo.svg' %}</a>
					<nav class="footer-nav">
						<ul class="footer-nav__list">
							<li class="footer-nav__option"><a href="#" class="footer-nav__link">How it works</a></li>
							<li class="footer-nav__option"><a href="#" class="footer-nav__link">Our story</a></li>
							<li class="footer-nav__option"><a href="#" class="footer-nav__link">Help</a></li>
						</ul>
					</nav>
					<ul class="copyright">
						<li class="copyright__option">© 2018 Blend Inc</li>
						<li class="copyright__option"><a href="#" class="copyright__link">Privacy Policy</a></li>
						<li class="copyright__option"><a href="#" class="copyright__link">Terms of Service</a></li>
					</ul>
					<div class="footer__info d-md-none">* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease.</div>
				</div>
				<div class="col-12 order-1 order-md-2 col-md-6">
					<div class="footer__title">Stay in the know.</div>
					<form class="footer__form">
						<div class="footer__row">
							<input class="footer__input" type="email">
							<button type="submit" class="footer__submit">{{ mixins.icon('input-arrow') }}</button>
						</div>
					</form>
					<ul class="social">
						<li class="social__option"><a href="#" class="social__link">{{ mixins.icon('instagram') }}</a></li>
						<li class="social__option"><a href="#" class="social__link">{{ mixins.icon('twitter') }}</a></li>
					</ul>
					<div class="footer__info d-none d-md-block">* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease.</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->
{% endif %}