{% if title !== 'Home' %}
<!-- begin mobile checkout button -->
<div class="dara-mobile-checkout">
	<a href="#" class="dara-button dara-button--mob-checkout">
		<span class="dara-button__price">PAY $99.99 / MONTH</span>
		<small class="dara-button__note">One month supply (30 servings)</small>
	</a>
</div>
<!-- end mobile checkout button -->
{% endif %}
<!-- begin footer -->
<footer class="dara-footer">
	<div class="dara-footer__in">
		<nav class="dara-nav">
			<ul class="dara-nav__list">
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Accesibility</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Terms Of Service</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Privacy Policy</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Legal Stuff</a></li>
				<li class="dara-nav__option"><a href="#" class="dara-nav__link">Join The Team</a></li>
			</ul>
		</nav>
		<p class="dara-footer__copyright">Dara Health Inc 2017-2018</p>
		<p class="dara-footer__info">Health claims herein have not been reviewed by the FDA. Dara Health's products are not intended to treat, diagnose, cure or prevent any disease.</p>
	</div>
</footer>
<!-- end footer -->
