{% if mobCheckout !== false %}
<!-- begin mobile checkout button -->
<div class="dara-mobile-checkout">
  <div class="dara-mobile-checkout__in">
  	<div class="dara-mobile-checkout__bl">
  		<div class="dara-mobile-checkout__el">
  			<p class="dara-mobile-checkout__num">30</p>
  			<p>servings</p>
  		</div>
  	</div>
  	<div class="dara-mobile-checkout__bl">
	  	<div class="dara-mobile-checkout__el">
	  		<p class="dara-mobile-checkout__price">$<span class="dara-mobile-checkout__num">39.90</span>/mo</p>
	  		<p>FREE SHIPPING</p>
	  	</div>
  	</div>
  	<div class="dara-mobile-checkout__bl">
	  	<div class="dara-mobile-checkout__btn">
	  		<a href="#" class="dara-button dara-button--outline">Checkout</a>
	  	</div>
  	</div>
  </div>
</div>
<!-- end mobile checkout button -->
{% endif %}