.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: #9B9B9B;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-lock {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-mastercard {
  width: 1.69em;
  height: 1em;
  fill: #FFF;
}
.icon-paper-plane {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-reminder {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-truck {
  width: 1em;
  height: 1em;
  fill: initial;
}
