.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: #9B9B9B;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-gluten-free {
  width: 1.04em;
  height: 1em;
  fill: #000;
}
.icon-gmo {
  width: 1.02em;
  height: 1em;
  fill: #000;
}
.icon-hamburger {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-help {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-made-in-california {
  width: 1.79em;
  height: 1em;
  fill: #000;
}
.icon-mastercard {
  width: 1.69em;
  height: 1em;
  fill: #FFF;
}
.icon-paper-plane {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-quality {
  width: 1.09em;
  height: 1em;
  fill: #000;
}
.icon-reminder {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-sustainability {
  width: 1.02em;
  height: 1em;
  fill: #000;
}
.icon-transparency {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-truck {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vegan {
  width: 1.02em;
  height: 1em;
  fill: #000;
}
