.icon-lock {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 6em;
  height: 1em;
  fill: none;
}
.icon-paper-plane {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-truck {
  width: 1em;
  height: 1em;
  fill: initial;
}
