.button
	display: inline-block
	text-transform: uppercase
	text-decoration: none
	text-align: center
	padding: 5px 10px
	+gilroy-bold
	font-size: 20px
	color: #FFF
	background: $brand-color
	letter-spacing: -0.24px
	border-radius: 5px
	+nosel
	+tr(background 0.2s ease)
	&:hover
		text-decoration: none
		color: #FFF
		background: darken($brand-color, 5%)
	&:focus
		outline: $brand-color
	&--checkout
		padding: 4.5px 16.5px
		+gilroy-bold
		font-size: 14px
		letter-spacing: -0.22px
	&--start
		border-radius: 20px
		width: 100%
		max-width: 150px
		padding: 8px
		+gilroy-bold
		font-size: 16px
		letter-spacing: 0.07px
	&--grow-font
		+rmin(1200)
			border-radius: 30px
			+css-lock(150, 180, 1200, 1920, max-width)
			+css-lock(16, 20, 1200, 1920)
	&--header-start
		margin-top: 1px
		padding: 9px 10px 7px
		border-radius: 20px
		+gilroy-medium
		font-size: 14px
		opacity: 0
		visibility: hidden
		line-height: 1
		transition: opacity 0.2s linear, visibility 0.2s linear
		+rmin(500)
			position: static
		+rmin(1200)
			margin-top: 0
			padding: 10px 17px 9px
	&--update
		width: 100%
		padding: 13px 10px
		+gilroy-medium
		font-size: 18px
		line-height: 1.38
		letter-spacing: -0.22px
	&--cancel
		text-transform: none
		padding: 0 10px
		+gilroy-medium
		font-size: 10px
		line-height: 1.4
		letter-spacing: -0.22px
		color: #E34F30
		background: #FFF
		border: 1px solid #E34F30
		&:hover
			background: #E34F30
	&--quiz
		width: 100%
		padding: 14px 10px
		+gilroy-bold
		font-size: 16px
		line-height: 1.375
		letter-spacing: -0.2px
		box-shadow: 0px 23px 15px rgba($brand-color, 0.21)
		&:disabled,
		&.is-disabled
			cursor: not-allowed
			background: #B7B7B7
			box-shadow: none
	&--quiz-done
		@extend .button--quiz
		background: $brand-color
		box-shadow:  0px 23px 15px rgba(74, 74, 74, 0.21)
		&:hover
			background: lighten($brand-color, 5%)
	&--full-w
		width: 100%
		max-width: 900px
		margin: 0 auto
		padding: 20px 10px
		+gilroy-bold
		font-size: 14px
		letter-spacing: 0.83px
		background: #FFF
		color: $brand-color
		+rmin(500)
			&:hover
				background: #FFF
				color: $brand-color
				span
					border-bottom-color: $brand-color
			span
				border-bottom: 1px solid transparent
	&--outline
		padding: 3px 11.5px
		+gilroy-bold
		font-size: 16px
		line-height: 1.375
		letter-spacing: 0.59px
		border: 1px solid #fff
		background: none
		&:hover,
		&:focus
			background: #FFF
			color: $brand-color
