@import fonts
@import titles
@import button

body
	min-width: 320px
	+av
	background: #f2f2f2
	color: #000
	&:before
		content: ""
		display: none
		position: fixed
		z-index: 11
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#9B9B9B, 0.33)
	&.is-overlay
		&:before
			display: block
			z-index: 10
	&.is-overflow
		overflow: hidden
		&:before
			display: block


.dara-out
	padding-top: 57px
	&--no-padding
		padding-top: 0


.dara-l-center
	max-width: 946px
	margin: 0 auto
	padding: 0 15px
	&--sm
		max-width: 808px
		padding: 0 6px


.dara-mobile-checkout
	position: fixed
	left: 0
	right: 0
	bottom: 0
	+rmin(1025)
		display: none