/*! This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com */

@font-face
  font-family: 'gilroy-bold'
  src: url("../fonts/e62d07e6-5c21-45b8-8427-79c95511907d.woff2") format("woff2"), url("../fonts/e667d70b-2326-4c62-8f38-200c31c3b08c.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'gilroy-regular'
  src: url("../fonts/b261487c-2966-4089-8551-6555085406ad.woff2") format("woff2"),url("../fonts/bf190033-35ff-42cf-b90c-f5321a94a3df.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'gilroy-medium'
  src: url("../fonts/94b9ba0e-1690-4966-8af8-7d8a1c22c221.woff2") format("woff2"),url("../fonts/fd4654af-3e2f-4601-bb81-d6b08f68d9f0.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

=caslon
	font-family: adobe-caslon-pro, serif
	font-weight: 400
	font-style: normal

=caslon-semibold
	font-family: adobe-caslon-pro, serif
	font-weight: 600
	font-style: normal

=gilroy
	font-family: 'gilroy-regular', sans-serif

=gilroy-medium
	font-family: 'gilroy-medium', sans-serif

=gilroy-bold
	font-family: 'gilroy-bold', sans-serif

