+font(avenir, avenir)
+font(avenir-bold, avenir-bold)
+font(avenir-demibold, avenir-demibold)
+font(avenir-medium, avenir-medium)
+font(opensans, opensans)
+font(opensans-bold, opensans-bold)
+font(opensans-semibold, opensans-semibold)
+font(brandon, brandon)
+font(brandon-medium, brandon-medium)
+font(brandon-bold, brandon-bold)
+font(caslon, caslon)
+font(caslon-semibold, caslon-semibold)
+font(gilroy, gilroy)
+font(gilroy-medium, gilroy-medium)
+font(gilroy-bold, gilroy-bold)

=av
	font-family: 'avenir', sans-serif

=av-bold
	font-family: 'avenir-bold', sans-serif

=av-demibold
	font-family: 'avenir-demibold', sans-serif

=av-medium
	font-family: 'avenir-medium', sans-serif

=op
	font-family: 'opensans', sans-serif

=op-semibold
	font-family: 'opensans-semibold', sans-serif

=op-bold
	font-family: 'opensans-bold', sans-serif

=br
	font-family: 'brandon', sans-serif

=br-medium
	font-family: 'brandon-medium', sans-serif

=br-bold
	font-family: 'brandon-bold', sans-serif

=caslon
	font-family: 'caslon', serif

=caslon-semibold
	font-family: 'caslon-semibold', serif

=gilroy
	font-family: 'gilroy', sans-serif

=gilroy-medium
	font-family: 'gilroy-medium', sans-serif

=gilroy-bold
	font-family: 'gilroy-bold', sans-serif