+font(caslon, caslon)
+font(caslon-semibold, caslon-semibold)
+font(gilroy-regular, gilroy-regular)
+font(gilroy-medium, gilroy-medium)
+font(gilroy-bold, gilroy-bold)


=caslon
	font-family: 'caslon', serif

=caslon-semibold
	font-family: 'caslon-semibold', serif

=gilroy
	font-family: 'gilroy-regular', sans-serif

=gilroy-medium
	font-family: 'gilroy-medium', sans-serif

=gilroy-bold
	font-family: 'gilroy-bold', sans-serif

