.dara-title-h1
	+av-demibold
	font-size: 30px
	color: #000
	letter-spacing: -0.4px
	+rmin(768)
		font-size: 42px
		letter-spacing: -0.56px

.dara-title-h2
	margin-bottom: 40px
	+av-bold
	font-size: 30px
	letter-spacing: -0.46px

.dara-title-h3
	margin-bottom: 11px
	font-size: 24px
	+av-demibold
	line-height: 1.375
	letter-spacing: -0.56px

.dara-title-h4
	+av-bold
	font-size: 16px
	letter-spacing: -0.25px

.dara-title-h5
	font-size: 14px
	+br-bold
	line-height: 1.35
	letter-spacing: 0.97px

.dara-special-title
	display: flex
	align-items: center
	justify-content: center
	max-width: 650px
	min-height: 109px
	margin: 0 auto
	padding: 0 10px
	text-align: center
	+op-semibold
	font-size: 22px
	line-height: 1.363
	letter-spacing: 0.78px
	&--more-spacing
		margin: 23px auto 27px
	+rmin(768)
		max-width: 550px
		+op-bold
		font-size: 27px
		letter-spacing: 1.14px
		line-height: 1.375
		br
			display: none
	+rmin(1025)
		max-width: 745px
		margin: 28px auto 22px
		font-size: 32px
