.dara-dosage
	display: flex
	text-align: center
	justify-content: center
	align-items: center
	&__calc
		min-width: 145px
		margin: 0 7px
		font-size: 14px
		line-height: 1
	&__ico
		width: 30px
		height: 30px
		border: 1px solid #dadada
		border-radius: 50%
		background: none
		-webkit-tap-highlight-color: transparent
		+vertical
		transition: border-color 0.2s ease
		&:focus
			outline: none
		&:hover
			border-color: #B7B7B7
		&:active
			border-color: #000
		&:disabled,
		&.is-disabled
			cursor: not-allowed
			border-color: #dadada
			background: none
			.dara-icon
				color: #ddd
	&__val
		+gilroy-medium
		font-size: 14px
		color: #9B9B9B
		line-height: 1.357
		letter-spacing: -0.5px
	&__num
		+gilroy-bold
		font-size: 28px
		line-height: 0.9
		letter-spacing: -1.55px
	&__highlight
		+gilroy-medium
		color: $brand-color
		&:hover,
		&:visited
			color: $brand-color
	.dara-icon
		display: inline-block
		vertical-align: middle
		color: #000
	.dara-icon-minus
		width: 10px
		height: 2px
	.dara-icon-plus
		width: 10px
		height: 10px
	button.dara-category-card__highlight
		background: none
		outline: none
		&:focus
			outline: none