.header
	position: fixed
	z-index: 11
	top: 0
	left: 0
	right: 0
	background: #F2F2F2
	transition: background 0.2s ease
	&.is-active
		background: #FFF
	&.is-start
		.button--header-start
			opacity: 1
			visibility: visible
	&--white-bg
		background: #fff
	&--no-bg
		background: #FFF
		+rmin(768)
			background: none
	&__in
		display: flex
		align-items: center
		min-height: 40px
		margin: 0 auto
		line-height: 1
		+css-lock(31, 180, 992, 1545, padding-left)
		+css-lock(31, 180, 992, 1545, padding-right)
		+rmin(991)
			min-height: 74px
	&__checkout
		display: none
		margin-right: 10px
		+rmin(1025)
			display: flex
			align-items: center
		+rmin(1100)
			margin-right: 20px
	&__info
		display: none
		min-width: 200px
		margin-right: 10px
		line-height: 0.8
		+gilroy-medium
		+rmin(1025)
			display: block
		+rmin(1100)
			margin-right: 20px
	&__price
		font-size: 22px
		color: #000
		letter-spacing: -0.31px
		line-height: 1
	&__note
		font-size: 13px
		color: #1078EE
		letter-spacing: -0.18px
	&__menu-ico
		display: inline-block
		stroke: #000
		&--absolute
			position: absolute
			top: 50%
			left: 15px
			margin-top: -10px
			line-height: 1
		svg
			vertical-align: middle
			width: 16px
	&__help-ico
		display: inline-block
		margin-top: 7px
		font-size: 20px
		color: #4A4A4A
		line-height: 0.7
		+tr(color 0.2s ease)
		&:hover
			color: lighten(#4A4A4A, 20%)
	&__logo
		display: inline-block
		width: 69px
		transition: all 0.2s ease
		fill: $brand-color
		+rmin(991)
			width: 94px
		img,
		svg
			display: block
			width: 100%
	&__bl
		display: flex
		justify-content: flex-end
		align-items: center
		text-align: right



.header-list
	margin-bottom: 0
	&--with-button
		display: flex
		justify-content: flex-end
		align-items: center
	&__option
		position: relative
		margin-right: 50px
		&:last-child
			margin-right: 0
		&--button
			margin-right: 0
			+rmin(991)
				margin-right: 50px
	&__item
		display: block
		+gilroy-bold
		font-size: 16px
		color: #181818
		transition: color 0.2s ease
		&:hover,
		&:focus
			text-decoration: none
			color: $brand-color
			.icon
				fill: $brand-color
		&--active
			color: $brand-color
		&--sign
			color: $brand-color
			&:hover,
			&:visited
				color: $brand-color
		.icon-account
			font-size: 30px
			transition: fill 0.2s ease


.header-dropdown
	display: none
	position: absolute
	top: 100%
	right: 0
	width: 233px
	padding: 20px
	margin-top: 33px
	background: #fff
	box-shadow: 0px 2px 4px rgba(183, 183, 183, 0.345007)
	border-radius: 5px
	&:before
		content: ''
		position: absolute
		top: -4px
		right: 8px
		width: 17px
		height: 20px
		border-radius: 5px
		background: #fff
		+rotate(45)
	&.is-visible
		+rmin(991)
			display: block
	&__option
		margin-bottom: 16px
		+gilroy-bold
		font-size: 16px
		line-height: 1.25
		&--name
			margin: 0 -20px 20px
			padding: 0 20px 20px
			border-bottom: 1px solid #f2f2f2
		&:last-child
			margin-bottom: 0
	&__link
		color: $brand-color
		&:hover,
		&:visited
			color: $brand-color


.menu
	display: none
	position: fixed
	z-index: 12
	top: 56px
	left: 0
	right: 0
	padding: 0 15px
	+rmin(768)
		&:not(.menu--signed)
			padding: 0 40px
	&--signed
		.menu__list
			padding-top: 18px
		.menu__close
			top: 23px
	&.is-active
		display: block
		+rmin(992)
			display: none
	&__in
		position: relative
		max-width: 900px
		margin: 0 auto
		background: #fff
		border-radius: 5px
		box-shadow: 0 0 23px 2px rgba(0, 0, 0, 0.5)
	&__top
		padding: 20px 40px 15px 20px
		+gilroy-bold
		font-size: 16px
		border-bottom: 1px solid #F2F2F2
		line-height: 1.25
	&__close
		position: absolute
		top: 20px
		right: 20px
		font-size: 14px
		line-height: 0.7
	&__list
		margin-bottom: 0
		padding: 40px 20px 20px
	&__option
		margin-bottom: 16px
		+gilroy-bold
		&:last-child
			margin-bottom: 0
	&__link
		color: $brand-color
		font-size: 16px
		line-height: 1.25
		&:hover,
		&:visited
			text-decoration: none
			color: $brand-color
	&__sign
		padding: 20px
		background: #F6FAF8
		border-radius: 0 0 5px 5px
